{% extends "base.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
    h2 {margin-bottom:9px;}
    h3 {margin:9px 0;}
    .linline li {display:inline; padding-right:3px;}
    .column2 {padding-top: 0;}
    .red, .glyphicon {color:#800;}
    .green, .glyphicon-ok {color:#880;}
    .blue {color:#00f;}
    .short-date {color:#880;font-weight:bold;}
    span.error-message{font-weight:bold;}
    .help{font-weight:bold;}
    .form .blockLabels label { font-weight: bold; color:#008000;}
    .form .ctrlHolder { margin: 0 0 2px 0; }
    #id_pro-date_of_birth_day, #id_date_of_birth_day,
    #id_pro-date_of_birth_year, #id_date_of_birth_year {width:90px;}
    #id_pro-date_of_birth_month, #id_date_of_birth_month { width: 130px;}
    #id_reg-sponsoring_organization_description {width:325px;}
    .ui-datepicker-trigger{margin-top:3px;}
    .column2 { padding-top: 0; }
    .notice h2 {padding-top: 10px;padding-left:3px;}
    .info h2 {margin-bottom: 4px;
    background-color: inherit;
    padding: 0;line-height:1em; }
    label[for=id_confirmation_key] {display:none !important;}
    #user-files legend {
    background: #fff6bf none repeat scroll 0 0;
    border-color: #ffd324;
    margin:0 0 0 7px; width:95%;
    font-size:1.2em;color:black;
    }
    #user-files.form input[type="input"] {height:30px;}
    #user-files ol {margin-left:7px;}
    #user-files h3 {margin-bottom:0;}
    fieldset {padding-left:10px; padding-bottom:10px;}
    #page-content-wrap .page-content {
    padding: 60px 20px;
    }
    .form input[type="file"] {margin-right:6px;height:25px;opacity:0;}
    .form input[type="file"]:hover {height:25px;}
    /* hide 'no file selected' text */
    .filewrap {
    width: 325px;
    height: 25px;
    background-color: white;
    box-shadow: 1px 2px 3px #ededed;
    position:relative;
    border: 1px solid #d8d8d8;
    }
    .filevalu {
    width: 325px;
    height:25px;
    position: absolute;
    right:0;
    top: 0;
    font-size:13px;
    line-height: 25px;
    text-indent: 10px;
    pointer-events: none;
    }
    .filebutt {
    cursor: pointer;
    display: block;
    width: 90px;
    background-color: #484aa0;
    height:25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height:25px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
    }
    .filebutt:hover {
    background-color: blue;
    }
    .fa-wrap{margin-left:20px;}
    /* end hide 'no file selected' text */
    #main-content h2{color:#003c4b;}
    #page-content-wrap .page-content h3 {
        font-size: 1em; text-transform: none;}
    .grant-list {
      background-color: #fcffff; border: 2px solid #ddf3f3; border-radius: 3px;
      margin-bottom: 10px; margin-top: 10px; padding: 6px;
    }
    .grant-list a {color:green; font-weight:bold;}
    #main-content #user-files .application-type {font-size:1.2em;}
    hr { margin-top: 25px; height:2px;}
    div.growlUI { position:relative;margin-top:60px; }
    div.growlUI:before { color:green; font-size: 4em;position: absolute; font-family: 'FontAwesome'; top: 0; left: 10px; content: "\f00c"; }
    div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left;font-size:2em;}
    div.growlUI h2 { font-size:1.4em;}
</style>
{% endblock %}
{% block page_header %}
    Wisconsin Space Grant Consortium
{% endblock %}
{% block page_content %}large-9-half small-12"{% endblock %}>
{% block left_nav %}
    <h3>
        <a href="{% url 'dashboard_home' %}">Account</a>
    </h3>
    <div style="margin-bottom:14px;">
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'dashboard_home' %}">
                      Manage applications
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard_profile' %}">Manage profile</a>
                </li>
                <!--
                <li>
                    <a href="{% url 'account_email' %}">
                        Manage email addresses
                    </a>
                </li>
                -->
                <li>
                    <a href="{% url 'account_change_password' %}">
                        Change password
                    </a>
                </li>
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Administration</a>
                </li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block left_audience %}{% endblock %}
{% block content_head %}
    <h1 id="page_title">
    {% if user.is_authenticated %}
        {{user.profile.salutation}}
        {{user.first_name}}
        {{user.profile.second_name}}
        {{user.last_name}}
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}"><i class="fa fa-home fa-2x"></i></a>
        </small>
    {% else %}
        WSGC {{reg_type|capfirst}} Registration
        <span id="secondary-dropdown"></span>
    {% endif %}
    </h1>
{% endblock %}
{% block content %}
{% endblock %}
