{% extends "base.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}{% endblock %}
{% block extra_style %}{% endblock %}
{% block page_header %}
    Wisconsin Space Grant Consortium
{% endblock %}
{% block left_nav %}
    {{ block.super }}
    {% if user.is_authenticated %}
        <h3>Account</h3>
        <div>
            <ul>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                <li><a href="#">Manage applications</a></li>
                <li><a href="{% url 'dashboard_home' %}">Manage profile</a></li>
                <li><a href="{% url 'account_change_password' %}">Change password</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        WSGC {{reg_type|capfirst}} Registration Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
</div>
{% endblock %}
