django==2.2.27
django-allauth>=0.44.1
django-taggit>=1.4.0
django-loginas>=0.3.9
django-gm2m>=1.1.1
django-localflavor>=3.1
mysqlclient>=2.0.3
openpyxl>=3.0.7
pathlib>=1.0.1
Pillow>=8.2.0
pycryptodome>=3.10.1
cryptography>=3.4.7
python-magic>=0.4.23
wemake-python-styleguide==0.14.1
