cryptography
django==4.2.11
django-allauth
django-gmailapi-json-backend
#django-gm2m  #  user forked repo: /d2/django_projects/django-gm2m
django-imagekit
django-localflavor
django-taggit
mysqlclient
openpyxl
pathlib
Pillow
pycryptodome
python-magic
python-memcached
