cryptography
django==4.2.15
django-allauth
django-gmailapi-json-backend
#django-gm2m  #  user forked repo: /d2/django_projects/django-gm2m
django-imagekit
django-localflavor
django-loginas
django-taggit
mysqlclient
openpyxl==3.0.10
pathlib
Pillow
pycryptodome
pymemcache
python-magic
python-memcached
