{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
    #id_remember {margin-left:5px;margin-top:-2px;}
</style>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('label[for="id_remember"]').parent().addClass("fleft");
        });
    </script>
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {% trans "Sign In" %}
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
{% if socialaccount.providers  %}
    <p>
    {% blocktrans with site.name as site_name %}
        Please sign in with one
        of your existing third party accounts. Or,
        <a href="{{ signup_url }}">sign up</a>
        for a {{site_name}} account and sign in below:
    {% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
    <p>
    {% blocktrans %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}"><strong>sign up</strong></a> first.
    {% endblocktrans %}
    </p>
{% endif %}
<div class="forms-container">
    {% if form.errors %}
        <p class="error">
            Authentication failed. Please confirm that you have
            entered the correct email and password.
        </p>
    {% endif %}
    <form class="login form" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}" />
        {% endif %}
        {% include "form_submit.inc.html" %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
            <strong>{% trans "Have you forgotten your password?" %}</strong>
        </a>
    </form>
</div>
{% endblock %}
