{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}
{% block content_head %}
    <h1 id="page_title">
        {% trans "Log Out" %}
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<p>
    {% trans 'Are you certain that you want to log out?' %}
</p>
<div class="forms-container">
    <form method="post" action="{% url 'account_logout' %}" class="form">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}"
                value="{{redirect_field_value}}"/>
        {% endif %}
        <input type="submit" name="action" class="button"
            value="{% trans "Log out" %}"/>
    </form>
</div>
{% endblock %}
