{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% block content_head %}
    <h1 id="page_title">
        {% trans "Password Reset" %}
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}
            Forgotten your password? Enter your e-mail address below,
            and we'll send you an e-mail allowing you to reset it.
        {% endblocktrans %}
    </p>
    <div class="forms-container">
        <form method="post" action="{% url 'account_reset_password' %}"
            class="password_reset form">
            {% csrf_token %}
            {% include "includes/generic_form.html" %}
        </form>
    </div>
    <p>
        {% blocktrans %}
            Please
            <a href="mailto:spacegrant@carthage.edu">contact us</a>
            if you encounter any problems resetting your password.
        {% endblocktrans %}
    </p>
{% endblock %}
{% block extra_javascript %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
