{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}
{% block content_head %}
    <h1 id="page_title">
        {% trans "Change Your Password" %}
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}"><i class="fa fa-globe fa-2x"></i></a>
        </small>
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <form method="post" action="{% url 'account_change_password' %}"
        class="form">
        {% csrf_token %}
        <p class="notice">Your password must be a minimum of 8 characters.</p>
        {% include "includes/generic_form.html" %}
    </form>
</div>
{% endblock %}
