{% extends "account/base.html" %}
{% load i18n %}
{% block content_head %}
    <h1 id="page_title" class="margin-left-2">
        {% trans "Password Manager" %}
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
        {% if token_fail %}
            <h2>
                {% trans "Bad Token" %}
            </h2>
        {% endif %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}
                The password reset link was invalid, possibly because
                it has already been used.  Please request a
                <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            <p>
            {% blocktrans %}
                Your password must be at least 8 characters in length.
            {% endblocktrans %}
            </p>
            <form method="post" action="." class="form">
                {% csrf_token %}
                {% include "includes/generic_form.html" %}
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
