{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block content_head %}
    <h1 id="page_title" class="margin-left-2">
        {% trans "Password Reset" %}
    </h1>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}
            We have sent you an e-mail. Please contact us if you do not
            receive it within a few minutes.
        {% endblocktrans %}
    </p>
{% endblock %}
