{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block content_head %}
    <h1 id="page_title">
        {% trans "Sign Up" %}
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container">
    <p>
        {% blocktrans %}
            Already have an account? Then please
            <a href="{{ login_url }}">sign in</a>.
        {% endblocktrans %}
    </p>
    <form class="signup form" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}" />
        {% endif %}
        {% if form.non_field_errors %}
            <p class="error">
            {% for e in form.non_field_errors %}
                {{e}}
            {% endfor %}
            </p>
        {% endif %}
        {% include "includes/generic_form.html" %}
    </form>
</div>
{% endblock %}
