{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}
{% block content %}
    <h1>{% trans "Verify Your Email Address" %}</h1>
    <p>
    {% blocktrans %}
        We have sent an email to you for verification.
        Follow the link provided to finalize the registration process.
        Please
        <a href="mailto:spacegrant@carthage.edu">contact us</a>
        if you do not receive it within a few minutes.
    {% endblocktrans %}
    </p>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="error">
                <strong>NOTE:</strong>
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
