.red{color:red;}
.green{color:green;}
#changelist-filter{width:100px;}
thead th {
    text-transform: none;
}
.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 0;
}
#changelist-filter ul {
    padding: 0 0 0 15px;
}
#changelist .actions .button {
    color: #fff;
    background-color: #417690;
}
.field-mugshot_file,.field-biography_file,.field-media_release_file,
.field-irs_w9_file,.field-award_acceptance_file,.field-wsgc_acknowledgement_file,
.field-budget_file,.field-interim_progress_report_file,
.field-preliminary_design_report_file,.field-final_design_report_file,
.field-team_roster_file,.field-flight_demo_file,
.field-flysheet_1_file, .field-flysheet_2_file, .field-flysheet_3_file, .field-flysheet_4_file,
.field-invoice_q1_file, .field-invoice_q2_file, .field-invoice_q3_file, .field-invoice_q4_file,
.field-openrocketrocksim_file, .field-openrocketrocksim2_file, .field-openrocketrocksim3_file, .field-openrocketrocksim4_file,
.field-final_motor_selection_file,.field-lodging_list_file,
.field-critical_design_report_file,.field-post_flight_performance_report_file,
.field-education_outreach_file,.field-flight_readiness_report_file,
.field-proceeding_paper_file,.field-interim_report_file,.field-final_report_file,
.field-invoice_q1_file,.field-invoice_q2_file,.field-invoice_q3_file,.field-invoice_q4_file,
.field-other_file_file,.field-other_file2_file,.field-other_file3_file,
.field-program_match_file,.field-close_out_finance_document_file,
.field-payment_information_file,.field-letter_interest_file,.field-cv_file,
.field-institutional_w9_file,.field-signed_certification_file,.field-proposal_file,
.field-undergraduate_transcripts_file,.field-graduate_transcripts_file,
.field-recommendation_1_file,.field-recommendation_2_file,
.field-photos_overview_file,.field-publications_overview_file,
.field-high_school_transcripts_file,.field-wsgc_advisor_recommendation_file,
.field-recommendation_file,.field-statement_file,.field-virtual_cdr_file,
.field-virtual_pdr_file,.field-virtual_frr_file,
.field-budget_modification_file,.field-performance_modification_file,
.field-scope_modification_file,.field-no_cost_extension_file,
.field-final_motor_selection_trunk
{text-align:center;}
.submit-row a.deletelink {
    height: auto;
}
