{% extends "home.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.mtz.monthpicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            options = {
                startYear: 2014,
                finalYear: 2025
            };
            $('body').on('focus',"#id_reg-month_year_of_graduation", function(){
                $(this).monthpicker(options);
            });
        });
    </script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen"
    href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css">
{% endblock %}
{% block page_header %}
    WSGC Registration
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        WSGC {{reg_type|capfirst}} Registration
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}"><i class="fa fa-globe fa-2x"></i></a>
        </small>
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/required_text.html" %}
    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if form.errors %}
        <p class="error">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <fieldset>
            <ol>
            {% for field in form.visible_fields %}
                <li class="form-group ctrlHolder">
                    <h3>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                    <div class="required warning">
                        <span class="error-message">
                            {{ field.errors|join:", "}}
                        </span>
                    {% else %}
                    <div{% if field.field.required %} class="required"{% endif %}>
                    {% endif %}
                    {{field}}
                    {% if field.help_text and reg_type != "Graduate" %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
