{% extends "base.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
    li.ctrlHolder div ul li {display:inline; padding-right:3px;}
    .form .blockLabels label {display: inherit;}
</style>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
           //
        });
    </script>
{% endblock %}
{% block extra_body %}
class="carthage-page generic-subpage spacegrant"
id="djforms"
{% endblock %}
{% block page_header %}
    WSGC Registration
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        WSGC {{reg_type|capfirst}} Registration Form
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
<div class="forms-container large-8 medium-10 small-12">
    {% include "includes/required_text.html" %}
    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
    {% if form.errors %}
        <p class="error">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form method="post" action="." class="form">
        {% csrf_token %}
        <p>
            If you would like to apply for any WSGC funding opportunity,
            you will need to register with WGSC using the form below.
            Once you are registered, you will be able to log into the WSGC
            website and apply for any program for which you are eligible.
        </p>
        {% for field in form.visible_fields %}
            {% if field.name == 'first' %}
                <h2>Personal Information</h2>
                <fieldset class="blockLabels">
                    <ol>
            {% endif %}
            {% if field.name == 'wsgc_school' %}
                    </ol>
                </fieldset>
                <h2>
                    Please tell us about your college
                    or university affiliation
                </h2>
                <fieldset class="blockLabels">
                    <ol>
            {% endif %}
            {% if field.name == 'address' %}
                    </ol>
                </fieldset>
                <h2>
                    Contact Information
                </h2>
                <fieldset class="blockLabels">
                    <ol>
            {% endif %}
            {% if field.name == 'race' %}
                <li class="form-group ctrlHolder">
                    <h3 class="required">
                        <label for="id_race_0">Race</label>
                    </h3>
                    {% if field.errors %}
                    <div class="required warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% endif %}
                    <p class="help">{{field.help_text}}</p>
                    {% for f in field %}
                        {{ f }}
                    {% endfor %}
                </li>
            {% else %}
                {% include "form_field.inc.html" %}
            {% endif %}
        {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
