<ul class="nobull">
    {% if user.profile.registration_type != "Undergraduate" and user.profile.registration_type != "Graduate" %}
    <li>
        <a href="{% url 'application_create' 'aerospace-outreach' %}">
            Aerospace Outreach
        </a>
    </li>
    {% endif %}
    {% if user.profile.registration_type == "Undergraduate" or user.profile.registration_type == "Graduate" %}
    <li>
        <a href="{% url 'application_create' 'clark-graduate-fellowship' %}">
            Dr. Laurel Salton Clark Memorial Research<br>
            <span style="margin-left:20px;">Fellowship</span>
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'collegiate-rocket-competition' %}">
            Collegiate Rocket Launch Competition
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'first-nations-rocket-competition' %}">
            First Nations Rocket Launch Competition
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'midwest-high-powered-rocket-competition' %}">
            Midwest High-Powered Rocket Launch Competition
        </a>
    </li>
    {% endif %}
    {% if user.profile.registration_type == "Professional" %}
    <li>
        <a href="{% url 'application_create' 'industry-internship' %}">
            Industry Internship
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'application_create' 'high-altitude-balloon-payload' %}">
            High Altitude Balloon Payload
        </a>
    </li>
    {% if user.profile.registration_type != "Undergraduate" and user.profile.registration_type != "Graduate" %}
    <li>
        <a href="{% url 'application_create' 'higher-education-initiatives' %}">
            Higher Education Initiatives
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'nasa-competition' %}">
            NASA Competition
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'research-infrastructure' %}">
            Research Infrastructure
        </a>
    </li>
    {% if user.profile.registration_type == "Faculty" %}
    <li>
        <a href="{% url 'application_create' 'rocket-launch-team' %}">
            Rocket Launch Team (Create NOI)
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'application_create' 'special-initiatives' %}">
            Special Initiatives
        </a>
    </li>
    {% endif %}
    {% if user.profile.registration_type == "Undergraduate" or user.profile.registration_type == "Graduate" %}
    <li>
        <a href="{% url 'application_create' 'professional-program-student' %}">
            Professional Program Student Participation
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'stem-bridge-scholarship' %}">
            STEM Bridge Scholarship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'undergraduate-scholarship' %}">
            Undergraduate Scholarship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'undergraduate-research' %}">
            Undergraduate Research Fellowship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'graduate-fellowship' %}">
            WSGC Graduate &amp; Professional Research<br>
            <span style="margin-left:20px;">Fellowship</span>
        </a>
    </li>
    {% endif %}
</ul>
