<ul class="nobull">
    <li>
        <a href="{% url 'application_create' 'aerospace-outreach' %}">
            Aerospace Outreach
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'clark-graduate-fellowship' %}">
            Dr. Laurel Salton Clark Memorial Research<br>
            <span style="margin-left:20px;">Fellowship</span>
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'first-nations-launch-competition' %}">
            First Nations Launch Competition
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'high-altitude-balloon-payload' %}">
            High Altitude Balloon Payload
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'high-altitude-balloon-launch' %}">
            High Altitude Balloon Launch
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'higher-education-initiatives' %}">
            Higher Education Initiatives
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'research-infrastructure' %}">
            Research Infrastructure
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'special-initiatives' %}">
            Special Initiatives
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'undergraduate-scholarship' %}">
            Undergraduate Scholarship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'undergraduate-research' %}">
            Undergraduate Research Fellowship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'graduate-fellowship' %}">
            WSGC Graduate &amp; Professional Research<br>
            <span style="margin-left:20px;">Fellowship</span>
        </a>
    </li>
</ul>
