<ul>
    <li>
        <a href="{% url 'application_create' 'undergraduate-scholarship' %}">
            Undergraduate Scholarship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'undergraduate-research' %}">
            Undergraduate Research
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'graduate-fellowship' %}">
            Graduate Fellowship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'clark-fellowship' %}">
            Clark Fellowship
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'high-altitude-balloon-payload' %}">
            High Altitude Balloon Payload
        </a>
    </li>
    <li>
        <a href="{% url 'application_create' 'high-altitude-balloon-launch' %}">
            High Altitude Balloon Launch
        </a>
    </li>
</ul>
