{% extends "home.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            //
        });
    </script>
{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
    h2 {margin-bottom:9px;}
    .column2 {padding-top: 0;}
    .red, .glyphicon {color:#800;}
    .green, .glyphicon-ok {color:#008000;}
    .short-date {color:#880;}
    span.error-message{font-weight:bold;}
</style>
{% endblock %}
{% block page_header %}
    Account Manager
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {{user.profile.salutation}}
        {{user.first_name}}
        {{user.profile.second_name}}
        {{user.last_name}}
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}"><i class="fa fa-globe fa-2x"></i></a>
        </small>
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }} large-12 medium-12 small-12"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="large-6 medium-12 small-12">
{% if user.profile.us_citizen == "Yes" and reg %}
    <h2>Your Grant Applications</h2>
    <ul>
    {% for app in user.profile.applications.all %}
        <li style="font-weight:bold;">
            <span class="short-date">
                {{app.date_created|date:"SHORT_DATE_FORMAT"}}
            </span>
            <a href="{{app.get_absolute_url}}">{{app}}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% if not user.profile.us_citizen %}
    <div class="notice">
        <p>
            <h4>
                You must be a United States citizen to apply
                for grants from NASA.
            </h4>
        </p>
    </div>
    {% endif %}
{% endif %}
</div>
<div class="column2 large-5 medium-12 small-12">
    {% if not reg %}
    <h2>Message Center</h2>
    <div class="notice">
    {% else %}
    <h2>Grant Application Forms</h2>
    <div class="success">
    {% endif %}
        <p>
            <h4>
                {% if not reg %}
                <i class="fa fa-times red"></i>
                You must complete your
                <a href="{% url 'dashboard_profile' %}"
                    style="color:blue;">
                    registration profile
                </a> before applying for grants from NASA.
                {% else %}
                <div style="margin-left:9px;">
                    {% include "dashboard/applications.inc.html" %}
                </div>
                {% endif %}
            </h4>
        </p>
    </div>
</div>
{% endblock %}
