{% load livewhale_api %}
<h3 class="application-type">
  {{app.get_application_type}}
  {% if app.get_content_type.model == "rocketlaunchteam" %}: {{app.name}}
  {% endif %}
</h3>
<li class="application-container">
    <span class="short-date popover-toggle"
      data-html="true"
      data-trigger="focus"
      data-content="Date Created">
      {{app.date_created|date:"SHORT_DATE_FORMAT"}}</span>
    {% if not app.complete %}
    <span style="font-weight:bold" class="popover-toggle-right"
      tabindex="0" data-html="true" data-trigger="focus"
      data-content="Update your application"> |
    <a href="{{app.get_absolute_url}}">
    {% if app.project_title %}{{app}}{% else %}Update Application{% endif %}
    <i class="fa fa-pencil green" aria-hidden="true"></i></a>
    </span>
    {% else %}
    <span style="font-weight:bold" class="popover-toggle-right"
      tabindex="0" data-html="true" data-trigger="focus"
      data-content="View your application"> |
    <a href="{% url 'application_print' app.get_slug app.id %}" target="_blank">
      {% if app.project_title %}{{app}}{% else %}View Application{% endif %}
    <i class="fa fa-eye green" aria-hidden="true"></i></a>
    </span>
    {% endif %}
    {% if app.get_content_type.model == "rocketlaunchteam" %}
     | <i tabindex="0" class="fa fa-rocket green popover-toggle" data-html="true" data-title="<b>Team members confirmed:</b>" data-trigger="focus" data-content="<span class='help'><ul>{% for m in app.get_team_members.all %}<li>{{m.user.last_name}}, {{m.user.first_name}}</li>{% endfor %}</ul></span>." aria-hidden="true" data-original-title="" title=""></i>
    {% endif %}
    {% if app.status and not app.complete %}
      <fieldset>
        <legend>
          Requisite Files
          <span class="fright">
            <i tabindex="0"
            class="fa fa-question-circle-o green popover-toggle"
            data-html="true"
            data-title="<b>NOTE:</b>"
            data-trigger="focus"
            data-content="<span class='help'>An X means you have not uploaded the file. Click the 'Select File' button to upload a file. Click on the file's icon to view the current file</span>."
            aria-hidden="true"></i>
          </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_award_acceptance">
                Award Acceptance [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="award_acceptance" id="id_award_acceptance">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.award_acceptance %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.award_acceptance}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {# RocketLaunchTeam creator and student leader can upload requisite files #}
          {% if app.get_content_type.model == "rocketlaunchteam" %}
            {% include "dashboard/rocket_launch_team_files.inc.html" %}
          {% endif %}
          {% if app.get_content_type.model in rocket_competitions and app.team.status and app.team.leader.id == user.id %}
            {% include "dashboard/rocket_launch_team_files.inc.html" %}
          {% endif %}
          {% if app.get_content_type.model in professional_programs %}
          <li class="form-group ctrlHolder">
            <h3><label for="id_invoice">Invoice [PDF]</label></h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="invoice" id="id_invoice">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.invoice %}
              <a class="fa-wrap" href="{{media_url}}{{app.invoice}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
                <label for="id_intended_program_match">
                Intended Program Match [PDF]
                </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="intended_program_match"
                id="id_intended_program_match">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.intended_program_match %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.intended_program_match}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_close_out_finance_document">
                Payment Information Form [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="close_out_finance_document"
                id="id_close_out_finance_document">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.close_out_finance_document %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.close_out_finance_document}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %} {# end professional programs files #}
          {% if app.get_content_type.model not in rocket_competitions and app.get_content_type.model != "rocketlaunchteam" %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_interim_report">
                Interim Report [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="interim_report" id="id_interim_report">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.interim_report %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.interim_report}}"
                target="_blank">
                <i class="fa fan-ban fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
                <label for="id_final_report">Final Report [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="final_report" id="id_final_report">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.final_report %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.final_report}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times red fa-wrap" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %}{# rocket exceptions #}
        </ol>
      </fieldset>
      <fieldset>
        <legend>
          Optional Files
        </legend>
        <ol>
        {% if app.get_content_type.model == "rocketlaunchteam" or app.get_content_type.model in rocket_competitions and app.team.status and app.team.leader.id == user.id %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_institutional_w9">Institutional W9 [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              name="institutional_w9" id="id_institutional_w9">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.institutional_w9 or app.team.institutional_w9 %}
              <a class="fa-wrap" href="{{media_url}}{% if app.institutional_w9 %}{{app.institutional_w9}}{% else %}{{app.team.institutional_w9}}{% endif %}" target="_blank">
              <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times green fa-wrap" aria-hidden="true"
              title="Optional file"></i>
            {% endif %}
          </li>
          {% endif %}
          {% if app.competition == "AISES Challenge" or app.competition == "Tribal Challenge" or app.competition == "First Nations AISES" or app.competition == "First Nations Tribal" %}
          <li class="form-group ctrlHolder">
          <h3>
              <label for="id_education_outreach">Education Outreach [PDF]</label>
          </h3>
          <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              name="education_outreach" id="id_education_outreach">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
          </div>
          {% if app.education_outreach or app.team.education_outreach %}
              <a class="fa-wrap" href="{{media_url}}{% if app.education_outreach %}{{app.education_outreach}}{% else %}{{app.team.education_outreach}}{% endif %}" target="_blank">
              <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
          {% else %}
              <i class="fa fa-times green fa-wrap" aria-hidden="true" title="Missing file"></i>
          {% endif %}
          </li>
          {% endif %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_final_report">
                Other File
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="other_file" id="id_other_file">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.other_file %}
              <a class="fa-wrap"
                href="{{media_url}}{{app.other_file}}"
                target="_blank">
                <i class="fa fa-times fa-file-pdf-o blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa fa-times green fa-wrap" aria-hidden="true"
                title="Optional file"></i>
            {% endif %}
            <i tabindex="0" class="fa fa-question-circle-o green popover-toggle" data-html="true" data-trigger="focus" data-content="<span class='help'>{% get_lw_content as other_file_help blurbs 2688 %}{{other_file_help.body}}</span>" aria-hidden="true" data-original-title="" title=""></i>
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <legend>
            Photos
            <span class="fright">
              <i tabindex="0"
              class="fa fa-question-circle-o green popover-toggle"
              data-html="true"
              data-trigger="focus"
              data-content="<span class='help'>Maximum of three photos.</span>."
              aria-hidden="true"></i>
            </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <div class="filewrap fleft">
              <input type="file" class="photo-upload"
                name="phile" id="id_phile"
                data-content-type="{% if team %}{{team.ct}}{% else %}{{app.get_content_type.id}}{% endif %}"
                data-oid="{% if team %}{{team.id}}{% else %}{{app.id}}{% endif %}">
              <span class='filevalu'></span>
              <span class='filebutt'>Select File</span>
            </div>
          </li>
          <li class="form-group ctrlHolder">
            <ul class="photo-container">
              {% for photo in app.photos.all %}
                {% include "dashboard/view_photo.ajax.html" %}
              {% endfor %}
            </ul>
          </li>
        </ol>
      </fieldset>
    {% endif %}{# /app.status #}
</li>
