{% load livewhale_api %}
<h3 class="application-type">
  {{app.get_application_type}}
  {% if app.get_content_type.model == "rocketlaunchteam" %}: {{app.name}}
  {% endif %}
</h3>
<li class="application-container">
    <span class="short-date popover-toggle"
      data-html="true"
      data-trigger="focus"
      data-content="Date Created">
      {{app.date_created|date:"SHORT_DATE_FORMAT"}}</span>
    {% if not app.complete %}
    <span style="font-weight:bold" class="popover-toggle-right"
      tabindex="0" data-html="true" data-trigger="focus"
      data-content="Update your application"> |
    <a href="{{app.get_absolute_url}}">
    {% if app.project_title %}{{app}}{% else %}Update Application{% endif %}
    <i class="fa fa-pencil green" aria-hidden="true"></i></a>
    </span>
    {% else %}
    <span style="font-weight:bold" class="popover-toggle-right"
      tabindex="0" data-html="true" data-trigger="focus"
      data-content="View your application"> |
    <a href="{% url 'application_print' app.get_slug app.id %}" target="_blank">
      {% if app.project_title %}{{app}}{% else %}View Application{% endif %}
    <i class="fa fa-eye green" aria-hidden="true"></i></a>
    </span>
    {% endif %}
    {% if app.get_content_type.model == "rocketlaunchteam" %}
     | <i tabindex="0" class="fa fa-rocket green popover-toggle" data-html="true" data-title="<b>Team members confirmed:</b>" data-trigger="focus" data-content="<span class='help'><ul>{% for m in app.get_team_members.all %}<li>{{m.user.last_name}}, {{m.user.first_name}}</li>{% endfor %}</ul></span>." aria-hidden="true" data-original-title="" title=""></i>
    {% endif %}
    {% if app.status and not app.complete %}
      <fieldset>
        <legend>
          Requisite Files
          <span class="fright has-tip radius round"
            data-tooltip
            data-click-open="false"
            aria-haspopup="true"
            title="An X means that you have not uploaded the file and it is required. Click the 'Select File' button to upload a file. Click on the file's icon to view the current file.">
            <i tabindex="0" class="fa-regular fa-circle-question green"></i>
          </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_award_acceptance">
                Award Acceptance [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="award_acceptance" id="id_award_acceptance">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.award_acceptance %}
              <a class="fa-fw"
                href="{{media_url}}{{app.award_acceptance}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark fa-fw red" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {# RocketLaunchTeam creator and student leader can upload requisite files #}
          {% if app.get_content_type.model == "rocketlaunchteam" %}
            {% include "dashboard/rocket_launch_team_files.inc.html" %}
          {% endif %}
          {# 20200221: commented out the rock launch team files for competition applications #}
          {# if app.get_content_type.model in rocket_competitions and app.team.status and app.team.leader.id == user.id #}
            {# include "dashboard/rocket_launch_team_files.inc.html" #}
          {# endif #}
          {% if app.get_slug in "industry-internship,nasa-competition" %}
          <li class="form-group ctrlHolder">
            <h3>
                <label for="id_intended_program_match">
                Intended Program Match [PDF]
                </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="intended_program_match"
                id="id_intended_program_match">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.intended_program_match %}
              <a class="fa-fw"
                href="{{media_url}}{{app.intended_program_match}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %}
          {% if app.get_content_type.model in professional_programs %}
          <li class="form-group ctrlHolder">
            <h3><label for="id_invoice_q1">Invoice Q1 [PDF]</label></h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="invoice_q1" id="id_invoice_q1">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.invoice_q1 %}
              <a class="fa-fw" href="{{media_url}}{{app.invoice_q1}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3><label for="id_invoice_q2">Invoice Q2 [PDF]</label></h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="invoice_q2" id="id_invoice_q2">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.invoice_q2 %}
              <a class="fa-fw" href="{{media_url}}{{app.invoice_q2}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3><label for="id_invoice_q3">Invoice Q3 [PDF]</label></h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="invoice_q3" id="id_invoice_q3">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.invoice_q3 %}
              <a class="fa-fw" href="{{media_url}}{{app.invoice_q3}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3><label for="id_invoice_q4">Invoice Q4 [PDF]</label></h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="invoice_q4" id="id_invoice_q4">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.invoice_q4 %}
              <a class="fa-fw" href="{{media_url}}{{app.invoice_q4}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_institutional_w9">Institutional W9 [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="institutional_w9" id="id_institutional_w9">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.institutional_w9 %}
              <a class="fa-fw" href="{{media_url}}{{app.institutional_w9}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_photos_overview">Photos Overview [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="photos_overview" id="id_photos_overview">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.photos_overview %}
              <a class="fa-fw" href="{{media_url}}{{app.photos_overview}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_publications_overview">Publications Overview [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="publications_overview" id="id_publications_overview">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.publications_overview %}
              <a class="fa-fw" href="{{media_url}}{{app.publications_overview}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_budget_modification">Budget Modification [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="budget_modification" id="id_budget_modification">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.budget_modification %}
              <a class="fa-fw" href="{{media_url}}{{app.budget_modification}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_performance_modification">Performance Modification [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="performance_modification" id="id_performance_modification">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.performance_modification %}
              <a class="fa-fw" href="{{media_url}}{{app.performance_modification}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_scope_modification">Scope Modification [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="scope_modification" id="id_scope_modification">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.scope_modification %}
              <a class="fa-fw" href="{{media_url}}{{app.scope_modification}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_no_cost_extension">No Cost Extension [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{{app.get_content_type.id}}"
              data-oid="{{app.id}}"
              name="no_cost_extension" id="id_no_cost_extension">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.no_cost_extension %}
              <a class="fa-fw" href="{{media_url}}{{app.no_cost_extension}}"
                target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_close_out_finance_document">
                Payment Information Form [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="close_out_finance_document"
                id="id_close_out_finance_document">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.close_out_finance_document %}
              <a class="fa-fw"
                href="{{media_url}}{{app.close_out_finance_document}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmarks red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %} {# end professional programs files #}
          {% if app.get_content_type.model not in rocket_competitions and app.get_content_type.model != "rocketlaunchteam" %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_interim_report">
                Interim Report [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="interim_report" id="id_interim_report">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.interim_report %}
              <a class="fa-fw"
                href="{{media_url}}{{app.interim_report}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
                <label for="id_final_report">Final Report [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="final_report" id="id_final_report">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.final_report %}
              <a class="fa-fw"
                href="{{media_url}}{{app.final_report}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %}{# rocket exceptions #}
          {% if app.get_slug in "high-altitude-balloon-launch,undergraduate-aerospace-design-research-scholarship,nasa-competition" %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_team_biography">
                Team Biography [PDF]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="team_biography" id="id_team_biography">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.team_biography %}
              <a class="fa-fw"
                href="{{media_url}}{{app.team_biography}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_team_photo">
                Team Photo [JPG]
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="team_photo" id="id_team_photo">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.team_photo %}
              <a class="fa-fw"
                href="{{media_url}}{{app.team_photo}}"
                target="_blank">
                <i class="fa-solid fa-xmark fa-file-image-o blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true"
                title="Missing file"></i>
            {% endif %}
          </li>
          {% endif %}{# high altitude balloon and nasa competition #}
        </ol>
      </fieldset>
      {% if app.get_content_type.model in professional_programs %}
      <fieldset>
        <legend>
            Required Photos
            <span class="fright has-tip radius round"
              data-tooltip
              data-click-open="false"
              aria-haspopup="true"
              title="Maximum of three photos.">
              <i tabindex="0" class="fa-regular fa-circle-question green"></i>
            </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <div class="filewrap fleft">
              <input type="file" class="photo-upload"
                name="phile" id="id_phile"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}">
              <span class='filevalu'></span>
              <span class='filebutt'>Select File</span>
            </div>
          </li>
          <li class="form-group ctrlHolder">
            <ul id="phoc_{{app.id}}" class="photo-container">
                {% for photo in app.photos.all %}
                {% include "dashboard/view_photo.ajax.html" %}
              {% endfor %}
            </ul>
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <legend>
            Required Actions
            <span class="fright has-tip radius round"
              data-tooltip
              data-click-open="false"
              aria-haspopup="true"
              title="Please be certain to complete these tasks">
              <i tabindex="0" class="fa-regular fa-circle-question green"></i>
            </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <strong>NASA Office of Education Survey:</strong>
            Due at award closeout or by December 1 (whichever comes first),
            see Award Letter for link.
          </li>
        </ol>
      </fieldset>
      {% endif %}
      {# end required for professional_programs #}
      {% if app.get_content_type.model not in professional_programs %}
      <fieldset>
        <legend>
            Photos
            <span class="fright has-tip radius round"
              data-tooltip
              data-click-open="false"
              aria-haspopup="true"
              title="Maximum of three photos.">
              <i tabindex="0" class="fa-regular fa-circle-question green"></i>
            </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <div class="filewrap fleft">
              <input type="file" class="photo-upload"
                name="phile" id="id_phile"
                data-content-type="{% if team %}{{team.ct}}{% else %}{{app.get_content_type.id}}{% endif %}"
                data-oid="{% if team %}{{team.id}}{% else %}{{app.id}}{% endif %}">
              <span class='filevalu'></span>
              <span class='filebutt'>Select File</span>
            </div>
          </li>
          <li class="form-group ctrlHolder">
            <ul id="phoc_{% if team %}{{team.id}}{% else %}{{app.id}}{% endif %}" class="photo-container">
                {% for photo in app.photos.all %}
                {% include "dashboard/view_photo.ajax.html" %}
              {% endfor %}
            </ul>
          </li>
        </ol>
        <div class="help">Include the student awardee who is engaged in the project.</div>
      </fieldset>
      {% endif %}{# end exception for professional programs #}
      <fieldset>
        <legend>
          Optional Files
          <span class="fright has-tip radius round"
            data-tooltip
            data-click-open="false"
            aria-haspopup="true"
            title="{% get_lw_content as other_file_help blurbs 2688 %}{{other_file_help.body|striptags}}">
            <i tabindex="0" class="fa-regular fa-circle-question green"></i>
          </span>
        </legend>
        <ol>
          {% if app.get_content_type.model == "rocketlaunchteam" or app.get_content_type.model in rocket_competitions and app.team.status and app.team.leader.id == user.id %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_institutional_w9">Institutional W9 [PDF]</label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              name="institutional_w9" id="id_institutional_w9">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.institutional_w9 or app.team.institutional_w9 %}
              <a class="fa-fw" href="{{media_url}}{% if app.institutional_w9 %}{{app.institutional_w9}}{% else %}{{app.team.institutional_w9}}{% endif %}" target="_blank">
              <i class="fa-solid fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true" title="Institutional W9"></i>
            {% endif %}
          </li>
          {% endif %}
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_final_report">
                File 1
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="other_file" id="id_other_file">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.other_file %}
              <a class="fa-fw"
                href="{{media_url}}{{app.other_file}}"
                target="_blank">
                <i class="fa-regular fa-file-pdf fa-fw blue" aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-regular fa-xmark red" aria-hidden="true" title="Optional file 1"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_final_report">
                File 2
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="other_file2" id="id_other_file2">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.other_file2 %}
              <a class="fa-fw"
                href="{{media_url}}{{app.other_file2}}"
                target="_blank">
                <i class="fa-regular fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true" title="Optional file 2"></i>
            {% endif %}
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_final_report">
                File 3
              </label>
            </h3>
            <div class="filewrap fleft">
              <input type="file" class="upload-file"
                data-content-type="{{app.get_content_type.id}}"
                data-oid="{{app.id}}"
                name="other_file3" id="id_other_file3">
              <span class='filebutt'>Select File</span>
              <span class='filevalu'></span>
            </div>
            {% if app.other_file3 %}
              <a class="fa-fw"
                href="{{media_url}}{{app.other_file3}}"
                target="_blank">
                <i class="fa-solid fa-file-pdf fa-fw blue"
                aria-hidden="true"></i></a>
            {% else %}
              <i class="fa-solid fa-xmark red fa-fw" aria-hidden="true" title="Optional file 3"></i>
            {% endif %}
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <legend>
            Optional URLs
            <span class="fright has-tip radius round"
              data-tooltip
              data-click-open="false"
              aria-haspopup="true"
              title="Provide up to three URLs to files, videos, and photos that you would like to include.">
              <i tabindex="0" class="fa-regular fa-circle-question green"></i>
            </span>
        </legend>
        <ol>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_url1">URL 1</label>
            </h3>
            <div>
              {% if app.url1 %}
              <input type="url" name="url1" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              value="{{app.url1}}" id="id_flight_demo_{{forloop.counter}}" style="margin-right:12px;">
              <i class="fa-solid fa-mark fa-thumbs-o-up blue" aria-hidden="true"></i>
              {% else %}
              <input type="input" name="url1" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              id="id_url1" style="margin-right:12px;">
              <i class="fa-solid fa-xmark red" aria-hidden="true" id="id_url1_missing"
                title="Provide an optional URL"></i>
              {% endif %}
            </div>
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_url2">URL 2</label>
            </h3>
            <div>
              {% if app.url2 %}
              <input type="url" name="url2" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              value="{{app.url2}}" id="id_flight_demo_{{forloop.counter}}" style="margin-right:12px;">
              <i class="fa-solid fa-xmark fa-thumbs-o-up blue" aria-hidden="true"></i>
              {% else %}
              <input type="input" name="url2" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              id="id_url2" style="margin-right:12px;">
              <i class="fa-solid fa-xmark red" aria-hidden="true" id="id_url2_missing"
                title="Provide an optional URL"></i>
              {% endif %}
            </div>
          </li>
          <li class="form-group ctrlHolder">
            <h3>
              <label for="id_url3">URL 3</label>
            </h3>
            <div>
              {% if app.url3 %}
              <input type="url" name="url3" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              value="{{app.url3}}" id="id_flight_demo_{{forloop.counter}}" style="margin-right:12px;">
              <i class="fa-solid fa-xmark fa-thumbs-o-up blue" aria-hidden="true"></i>
              {% else %}
              <input type="input" name="url3" class="url-field fleft"
              data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
              data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
              id="id_url3" style="margin-right:12px;">
              <i class="fa-solid fa-xmark red" aria-hidden="true" id="id_url3_missing"
                title="Provide an optional URL"></i>
              {% endif %}
            </div>
          </li>
        </ol>
      </fieldset>
    {% endif %}{# /app.status #}
</li>
