{% extends "home.html" %}
{% block title %}
    WSGC {{reg_type|capfirst}} Registration &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('label[for="id_us_citizen_0"]').closest('ul').addClass('linline');
            $('label[for="id_disability_0"]').closest('ul').addClass('linline');
            $('label[for="id_gender_0"]').closest('ul').addClass('linline');
        });
    </script>
{% endblock %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
    .linline li {display:inline; padding-right:3px;}
    #id_date_of_birth_day, #id_date_of_birth_year {width:90px;}
    #id_date_of_birth_month { width: 130px;}
</style>
{% endblock %}
{% block page_header %}
    Account Manager
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        {{user.profile.salutation}}
        {{user.first_name}}
        {{user.profile.second_name}}
        {{user.last_name}}
        <span id="secondary-dropdown"></span>
    </h1>
    {% if message %}
    <div class="notice">
        <p><h4>Your profile has been saved.</h4></p>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
<div class="forms-container large-6 medium-12 small-12">
    <form method="post" action="." class="form">
        {% csrf_token %}
        <input type="hidden" name="salutation" value="{{user.profile.salutation}}" />
        <input type="hidden" name="second_name" value="{{user.profile.second_name}}" />
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
<div class="forms-container column2 large-4 medium-12 small-12">
    <form action="{% url 'registration_form' reg_type %}"
        method="post" class="form">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <ol>
                {% for field in reg_form %}
                    {% include "form_field.inc.html" %}
                {% endfor %}
            </ol>
        </fieldset>
        {% include "form_submit.inc.html" %}
    </form>
</div>
{% endblock %}
