<h2>Registration Information</h2>
<fieldset class="blockLabels">
    <ol>
        {% if reg_type == "Graduate" %}
        <li><h3>Undergraduate information</h3></li>
        {% endif %}
        {% for field in reg_form %}
            {% if field.name == "sponsoring_organization_name" %}
            </ol></fieldset>
            <fieldset id="sponsoring-organization">
            <legend>Sponsoring Organization Info</legend>
            <ol>
            {% endif %}
            <li class="form-group ctrlHolder">
                <h3>{{ field.label_tag }}</h3>
                {% if field.errors %}
                <div class="required warning">
                    <span class="error-message">
                        {{ field.errors|join:", "}}
                    </span>
                {% else %}
                <div{% if field.field.required %} class="required"{% endif %}>
                {% endif %}
                {{field}}
                {% if field.help_text and reg_type != "Graduate" %}
                    <p class="help">{{field.help_text}}</p>
                {% endif %}
                </div>
            </li>
            {% if field.name == "undergraduate_degree" %}
            <li><h3>Graduate information</h3></li>
            {% endif %}
        {% endfor %}
    </ol>
</fieldset>
