{% if app.competition == "AISES Challenge" or app.competition == "Tribal Challenge" or app.competition == "First Nations AISES" or app.competition == "First Nations Tribal" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_proposal">Proposal [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="proposal" id="id_proposal">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.proposal or app.team.proposal %}
    <a class="fa-wrap" href="{{media_url}}{% if app.proposal %}{{app.proposal}}{% else %}{{app.team.proposal}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition != "Midwest High Powered Rocket Competition" or app.team.competition != "Midwest High Powered Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_budget">Budget [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="budget" id="id_budget">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.budget or app.team.budget %}
    <a class="fa-wrap" href="{{media_url}}{% if app.budget %}{{app.budget}}{% else %}{{app.team.budget}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition == "Collegiate Rocket Competition" or app.team.competition == "Collegiate Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_interim_progress_report">
       Critical Design Report [PDF]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="interim_progress_report" id="id_interim_progress_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.interim_progress_report or app.team.interim_progress_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.interim_progress_report %}{{app.interim_progress_report}}{% else %}{{app.team.interim_progress_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_preliminary_design_report">
      Preliminary Design Review [PDF]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="preliminary_design_report" id="id_preliminary_design_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.preliminary_design_report or app.team.preliminary_design_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.preliminary_design_report %}{{app.preliminary_design_report}}{% else %}{{app.team.preliminary_design_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_openrocketrocksim">
      OpenRocket or RockSim [ORK or RKT]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="openrocketrocksim" id="id_openrocketrocksim">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.openrocketrocksim or app.team.openrocketrocksim %}
    <a class="fa-wrap" href="{{media_url}}{% if app.openrocketrocksim %}{{app.openrocketrocksim}}{% else %}{{app.team.openrocketrocksim}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% if app.competition == "AISES Challenge" or app.competition == "Tribal Challenge" or app.competition == "First Nations AISES" or app.competition == "First Nations Tribal" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_virtual_pdr">
      Virtual PDR [PPT]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="virtual_pdr" id="id_virtual_pdr">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.virtual_pdr or app.team.virtual_pdr %}
    <a class="fa-wrap" href="{{media_url}}{% if app.virtual_pdr %}{{app.virtual_pdr}}{% else %}{{app.team.virtual_pdr}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-powerpoint-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition == "Collegiate Rocket Competition" or app.team.competition == "Collegiate Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_final_design_report">Final Design Report [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="final_design_report" id="id_final_design_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.final_design_report or app.team.final_design_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.final_design_report %}{{app.final_design_report}}{% else %}{{app.team.final_design_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition != "Midwest High Powered Rocket Competition" or app.team.competition != "Midwest High Powered Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_flight_demo_{{forloop.counter}}">Flight Demo [URL]</label>
  </h3>
  <div>
    {% if app.flight_demo or app.team.flight_demo %}
    <input type="url" name="flight_demo" class="url-field fleft"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      value="{% if app.flight_demo %}{{app.flight_demo}}{% else %}{{app.team.flight_demo}}{% endif %}"
      id="id_flight_demo_{{forloop.counter}}" style="margin-right:17px;">
    <i class="fa fa-times fa-thumbs-o-up blue" aria-hidden="true"></i>
    {% else %}
    <input type="input" name="flight_demo" class="url-field fleft"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      id="id_flight_demo_{{forloop.counter}}" style="margin-right:17px;">
      <i class="fa fa-times red" aria-hidden="true"
        id="id_flight_demo_{{forloop.counter}}_missing" title="Missing file"></i>
    {% endif %}
    <p class="help fleft">Provide the URL where video is located</p>
  </div>
</li>
{% endif %}
{% if app.competition == "AISES Challenge" or app.competition == "Tribal Challenge" or app.competition == "First Nations AISES" or app.competition == "First Nations Tribal" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_critical_design_report">Critical Design Report [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="critical_design_report" id="id_critical_design_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.critical_design_report or app.team.critical_design_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.critical_design_report %}{{app.critical_design_report}}{% else %}{{app.team.critical_design_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_virtual_cdr">
      Virtual CDR [PPT]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="virtual_cdr" id="id_virtual_cdr">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.virtual_cdr or app.team.virtual_cdr %}
    <a class="fa-wrap" href="{{media_url}}{% if app.virtual_cdr %}{{app.virtual_cdr}}{% else %}{{app.team.virtual_cdr}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-powerpoint-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_lodging_list">Lodging List [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"-
      name="lodging_list" id="id_lodging_list">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.lodging_list or app.team.lodging_list %}
    <a class="fa-wrap" href="{{media_url}}{% if app.lodging_list %}{{app.lodging_list}}{% else %}{{app.team.lodging_list}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_education_outreach">Education Outreach [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
    data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
    data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
    name="education_outreach" id="id_education_outreach">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.education_outreach or app.team.education_outreach %}
    <a class="fa-wrap" href="{{media_url}}{% if app.education_outreach %}{{app.education_outreach}}{% else %}{{app.team.education_outreach}}{% endif %}" target="_blank">
    <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times green fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% if app.competition != "Collegiate Rocket Competition" or app.team.competition != "Collegiate Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_flight_readiness_report">Flight Readiness Review [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="flight_readiness_report" id="id_flight_readiness_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.flight_readiness_report or app.team.flight_readiness_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.flight_readiness_report %}{{app.flight_readiness_report}}{% else %}{{app.team.flight_readiness_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_virtual_cdr">
      Virtual FRR [PPT]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="virtual_frr" id="id_virtual_frr">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.virtual_frr or app.team.virtual_frr %}
    <a class="fa-wrap" href="{{media_url}}{% if app.virtual_frr %}{{app.virtual_frr}}{% else %}{{app.team.virtual_frr}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-powerpoint-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition == "Midwest High Powered Rocket Competition" or app.team.competition == "Midwest High Powered Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_verified_budget">Verified Budget [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="verified_budget" id="id_verified_budget">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.verified_budget or app.team.verified_budget %}
    <a class="fa-wrap" href="{{media_url}}{% if app.verified_budget %}{{app.verified_budget}}{% else %}{{app.team.verified_budget}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_close_out_finance_document">
        Payment Information Form [PDF]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="close_out_finance_document" id="id_close_out_finance_document">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.close_out_finance_document or app.team.close_out_finance_document %}
    <a class="fa-wrap" href="{{media_url}}{% if app.close_out_finance_document %}{{app.close_out_finance_document}}{% else %}{{app.team.close_out_finance_document}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_invoice">Invoice [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="invoice" id="id_invoice">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.invoice or app.team.invoice %}
    <a class="fa-wrap" href="{{media_url}}{% if app.invoice %}{{app.invoice}}{% else %}{{app.team.invoice}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_charges_certification">Charges Certification [PDF]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="charges_certification" id="id_charges_certification">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.charges_certification or app.team.charges_certification %}
    <a class="fa-wrap" href="{{media_url}}{% if app.charges_certification %}{{app.charges_certification}}{% else %}{{app.team.charges_certification}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
{% if app.competition == "Midwest High Powered Rocket Competition" or app.team.competition == "Midwest High Powered Rocket Competition" or app.competition == "Collegiate Rocket Competition" or app.team.competition == "Collegiate Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_proceeding_paper">Proceeding Paper</label>
  </h3>
  <div>
    {% if app.proceeding_paper or app.team.proceeding_paper %}
    <input type="input" name="proceeding_paper" class="fleft"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      value="{% if app.proceeding_paper %}{{app.proceeding_paper|date:"m/d/Y"}}{% else %}{{app.team.proceeding_paper|date:"m/d/Y"}}{% endif %}"
      id="id_proceeding_paper" style="margin-right:17px;">
        <i class="fa fa-times fa-thumbs-o-up blue" aria-hidden="true"></i>
    {% else %}
    <input type="input" name="proceeding_paper" class="fleft"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      id="id_proceeding_paper" style="margin-right:17px;">
      <i class="fa fa-times red" aria-hidden="true"
        id="proceeding-missing" title="Missing file"></i>
    {% endif %}
    <p class="help fleft">Provide the date on which you presented the paper</p>
  </div>
</li>
{% endif %}
{% if app.competition != "Midwest High Powered Rocket Competition" or app.team.competition != "Midwest High Powered Rocket Competition" %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_oral_presentation">Oral Presentation [PPT]</label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="oral_presentation" id="id_oral_presentation">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.oral_presentation or app.team.oral_presentation %}
    <a class="fa-wrap" href="{{media_url}}{% if app.oral_presentation %}{{app.oral_presentation}}{% else %}{{app.team.oral_presentation}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-powerpoint-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
{% endif %}
<li class="form-group ctrlHolder">
  <h3>
    <label for="id_post_flight_performance_report">
      Post Launch Assessment Review  [PDF]
    </label>
  </h3>
  <div class="filewrap fleft">
    <input type="file" class="upload-file"
      data-content-type="{% if app.team %}{{app.team.get_content_type.id}}{% else %}{{app.get_content_type.id}}{% endif %}"
      data-oid="{% if app.team.id %}{{app.team.id}}{% else %}{{app.id}}{% endif %}"
      name="post_flight_performance_report" id="id_post_flight_performance_report">
    <span class='filebutt'>Select File</span>
    <span class='filevalu'></span>
  </div>
  {% if app.post_flight_performance_report or app.team.post_flight_performance_report %}
    <a class="fa-wrap" href="{{media_url}}{% if app.post_flight_performance_report %}{{app.post_flight_performance_report}}{% else %}{{app.team.post_flight_performance_report}}{% endif %}" target="_blank">
      <i class="fa fa-times fa-file-pdf-o blue" aria-hidden="true"></i></a>
  {% else %}
    <i class="fa fa-times red fa-wrap" aria-hidden="true" title="Missing file"></i>
  {% endif %}
</li>
