{% extends "application/email/base.html" %}
{% block title %}Aerospace Outreach{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Project category</h4>
<p>{{data.project_category}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed match</h4>
<p>{{data.proposed_match}}</p>
<h4>Source(s) of match</h4>
<p>{{data.source_match}}</p>
<h4>Are you seeking other WSGC funding for this project?</h4>
<p>{{data.other_funding}}</p>
<h4>If 'Yes', please explain</h4>
<p>{{data.other_funding_explain}}</p>
<h4>Location</h4>
<p>{{data.location}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
<h3>Student Researchers</h3>
<ol>
{% if data.student_1 %}
<li>{{data.student_1}}</li>
{% endif %}
{% if data.student_2 %}
<li>{{data.student_2}}</li>
{% endif %}
{% if data.student_3 %}
<li>{{data.student_3}}</li>
{% endif %}
{% if data.student_4 %}
<li>{{data.student_4}}</li>
{% endif %}
{% if data.student_5 %}
<li>{{data.student_5}}</li>
{% endif %}
</ol>
<h4>NASA Mission Directorate</h4>
<p>{{data.nasa_mission_directorate}}</p>
{% if data.nasa_mission_directorate_other %}
<h4>NASA Mission Directorate Other</h4>
<p>{{data.nasa_mission_directorate_other}}</p>
{% endif %}
<h3>Business/Finance Officer</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>
<h4>Files</h4>
<ul>
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
        Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.proposal}}" target="_blank">
        Proposal
    </a><br>
    https://{{server_url}}{{media_url}}{{data.proposal}}
  </li>
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice %}
    <li>
      <a href="{{media_url}}{{data.invoice}}" target="_blank">
        Invoice
      </a><br>
      https://{{server_url}}{{media_url}}{{data.invoice}}
    </li>
  {% else %}
    {% if data.status %}<li>Invoice: Missing</li>{% endif %}
  {% endif %}
  {% if data.program_match %}
    <li>
      <a href="{{media_url}}{{data.program_match}}" target="_blank">
        Program Match
      </a><br>
      https://{{server_url}}{{media_url}}{{data.program_match}}
    </li>
  {% else %}
    {% if data.status %}<li>Program Match: Missing</li>{% endif %}
  {% endif %}
  {% if data.payment_information %}
    <li>
      <a href="{{media_url}}{{data.payment_information}}" target="_blank">
        Payment Information
      </a><br>
      https://{{server_url}}{{media_url}}{{data.payment_information}}
    </li>
  {% else %}
    {% if data.status %}<li>Payment Information: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
