{% extends "application/email/base.html" %}
{% block title %}Aerospace Outreach{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Project category</h4>
<p>{{data.project_category}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed match</h4>
<p>{{data.proposed_match}}</p>
<h4>Source(s) of match</h4>
<p>{{data.source_match}}</p>
<h4>Are you seeking other WSGC funding for this project?</h4>
<p>{{data.other_funding}}</p>
{% if data.other_funding == 'Yes' %}
<h4>If 'Yes', please explain</h4>
<p>{{data.other_funding_explain}}</p>
{% endif %}
<h4>Location</h4>
<p>{{data.location}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
{% block students %}
<h3>Student Researchers</h3>
<ol>
{% for student in data.higher_education_initiatives_student.all %}
<li>
    {{student.user.last_name}},
    {{student.user.first_name}}
</li>
{% endfor %}
</ol>
{% endblock %}
<h4>NASA Mission Directorate</h4>
<p>{{data.nasa_mission_directorate}}</p>
{% if data.nasa_mission_directorate_other %}
<h4>NASA Mission Directorate Other</h4>
<p>{{data.nasa_mission_directorate_other}}</p>
{% endif %}
<h3>Authorized Organizational Representative</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>
{% if data.grants_officer %}
  <h4>Grants Officer</h4>
  <p>{{data.grants_officer.last_name}}, {{data.grants_officer.first_name}}</p>
{% endif %}
<h4>Preliminary Team Members</h4>
<pre>
{{data.member_1}}
{{data.member_2}}
{{data.member_3}}
{{data.member_4}}
{{data.member_5}}
{{data.member_6}}
{{data.member_7}}
{{data.member_8}}
{{data.member_9}}
{{data.member_10}}
</pre>
{% endblock %}
