<h4>Undergraduate Information</h3>
<pre style="font-size:1.4em;">
Major....................... {{data.user.profile.get_registration.major}}
Major other................. {{data.user.profile.get_registration.major_other}}
Secondary major or minor.... {{data.user.profile.get_registration.secondary_major_minor}}
Second major/minor other.... {{data.user.profile.get_registration.secondary_major_minor_other}}
Current cumulative GPA...... {{data.user.profile.get_registration.current_cumulative_gpa}}
GPA in major................ {{data.user.profile.get_registration.gpa_in_major}}
GPA scale................... {{data.user.profile.get_registration.gpa_scale}}
Cumulative college credits.. {{data.user.profile.get_registration.cumulative_college_credits}}
Month/year of graduation.... {{data.user.profile.get_registration.month_year_of_graduation}}
WSGC school................. {{data.user.profile.get_registration.wsgc_school}}
Student ID.................. {{data.user.profile.get_registration.studentid}}
</pre>
