<h1>{% block title %}{% endblock %}</h1>
{% block profile %}
<h2>Demographics</h2>
<p>
    <a href="mailto:{{data.user.email}}">
        {{data.user.profile.salutation}}
        {{data.user.first_name}}
        {{data.user.profile.second_name}}
        {{data.user.last_name}}
    </a>
</p>
<pre style="font-size:1.4em;">
Birthday.................... {{data.user.profile.date_of_birth}}
Gender...................... {{data.user.profile.gender}}
Disability.................. {{data.user.profile.disability}}
Disability specifiy......... {{data.user.profile.disability_specify}}
Race........................ {{data.user.profile.get_race}}
Tribe....................... {{data.user.profile.tribe}}
Citizen..................... {{data.user.profile.us_citizen}}
Employment.................. {{data.user.profile.employment}}
Military.................... {{data.user.profile.military}}
</pre>
<h2>Contact Information</h2>
<pre style="font-size:1.4em;">
Email....................... {{data.user.email}}
Email secondary............. {{data.user.profile.email_auxiliary}}
Phone....................... {{data.user.profile.phone_primary}}
Phone mobile................ {{data.user.profile.phone_mobile}}
</pre>
<h3>Permanent Address</h3>
<pre style="font-size:1.4em;">
Address..................... {{data.user.profile.address1}} {{data.user.profile.address2}}
City........................ {{data.user.profile.city}}
State....................... {{data.user.profile.state}}
Zip......................... {{data.user.profile.postal_code}}
</pre>
{% if data.user.profile.address1_current %}
<h3>Current Address</h3>
<pre style="font-size:1.4em;">
Address .................... {{data.user.profile.address1_current}} {{data.user.profile.address2_current}}
City ....................... {{data.user.profile.city_current}}
State ...................... {{data.user.profile.state_current}}
Zip......................... {{data.user.profile.postal_code_current}}
</pre>
{% endif %}
<h2>{{data.user.profile.registration_type}} Information</h2>
<pre>
Date created................ {{data.user.profile.date_created}}
Date updated................ {{data.user.profile.date_updated}}
</pre>
{% if data.user.profile.registration_type == "Professional" %}
    {% include "application/email/professional.inc.html" %}
{% endif %}
{% if data.user.profile.registration_type == "Faculty" %}
<pre style="font-size:1.4em;">
Title....................... {{data.user.profile.get_registration.title}}
WSGC affiliate.............. {{data.user.profile.get_registration.wsgc_affiliate}}
Department program.......... {{data.user.profile.get_registration.department_program}}
</pre>
{% endif %}
{% if data.user.profile.registration_type == "Graduate" %}
    {% include "application/email/graduate.inc.html" %}
{% endif %}
{% if data.user.profile.registration_type == "Undergraduate" %}
    {% include "application/email/undergraduate.inc.html" %}
{% endif %}
{% if data.user.profile.registration_type == "HighSchool" %}
    {% include "application/email/highschool.inc.html" %}
{% endif %}
<h2>Profile Files</h2>
{% with data.user as user %}
  {% include "application/email/user_files.inc.html" %}
{% endwith %}
{% endblock %}
<h2>Application Information</h2>
{% block data %}{% endblock %}
<h2>Common Files</h2>
<ul>
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
        Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.other_file %}
    <li>
      <a href="{{media_url}}{{data.other_file}}" target="_blank">
        Optional File 1
      </a><br>
      https://{{server_url}}{{media_url}}{{data.other_file}}
    </li>
  {% endif %}
  {% if data.other_file2 %}
    <li>
      <a href="{{media_url}}{{data.other_file2}}" target="_blank">
        Optional File 2
      </a><br>
      https://{{server_url}}{{media_url}}{{data.other_file2}}
    </li>
  {% endif %}
  {% if data.other_file3 %}
    <li>
      <a href="{{media_url}}{{data.other_file3}}" target="_blank">
        Optional File 3
      </a><br>
      https://{{server_url}}{{media_url}}{{data.other_file3}}
    </li>
  {% endif %}
  {% if data.url1 %}
    <li>
      <a href="{{data.url1}}" target="_blank">Optional URL 1</a><br>
      {{data.url1}}
    </li>
  {% endif %}
  {% if data.url2 %}
    <li>
      <a href="{{data.url2}}" target="_blank">Optional URL 2</a><br>
      {{data.url2}}
    </li>
  {% endif %}
  {% if data.url3 %}
    <li>
      <a href="{{data.url3}}" target="_blank">Optional URL 3</a><br>
      {{data.url3}}
    </li>
  {% endif %}
</ul>
<h2>Program Files</h2>
{% include "application/email/program_files.inc.html" %}
<h2>Photos</h2>
{% if data.photos.all %}
{% for p in data.photos.all %}
<a href="{{p.phile.url}}" target="_blank"><img src="{{p.phile.url}}" width="400"></a>
{% endfor %}
{% else %}
<p>No photos uploaded.</p>
{% endif %}
