{% extends "application/email/base.html" %}
{% block title %}Dr. Laurel Salton Clark Memorial Fellowship{% endblock %}
{% block data %}
<h4>Are you anticipating other funding this year?</h4>
<p>{{data.anticipating_funding}}</p>
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Mentor name</h4>
<p>{{data.mentor_name}}</p>
<h4>Mentor email</h4>
<p>{{data.mentor_email}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
<h4>NASA Mission Directorate</h4>
<p>{{data.nasa_mission_directorate}}</p>
{% if data.nasa_mission_directorate_other %}<h4>NASA Mission Directorate Other
</h4>
<p>{{data.nasa_mission_directorate_other}}</p>{% endif %}
<h4>Files</h4>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}">
        Proposal
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.cv}}">
        Résumé
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.cv}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.budget}}">
        Budget
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.budget}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.undergraduate_transcripts}}">
        Undergraduate transcripts
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.undergraduate_transcripts}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.graduate_transcripts}}">
        Graduate transcripts
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.graduate_transcripts}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.recomendation}}">
        Recommendation
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.recomendation}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.signed_certification}}">
        Signed certification
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.signed_certification}}
</p>
{% endblock %}
