{% extends "application/email/base.html" %}
{% block title %}Collegiate Rocket Competition Application{% endblock %}
{% block data %}
<h4>Team</h4>
<p>{{data.team.name}}</p>
<h4>Do you currently hold another Federal fellowship or traineeship?</h4>
<p>{{data.other_fellowship|default:"No"}}</p>
{% if data.other_funding == 'Yes' %}
<h4>If 'Yes', explain</h4>
<p>{{data.other_fellowship_explain}}</p>
{% endif %}
{% if data.team.leader.id == data.user.id %}
<h4>Rocket launch team files</h4>
  {% with data.team as data %}
    {% include "application/email/rocket-launch-team.files.inc.html" %}
  {% endwith %}
{% endif %}
{% endblock %}
