{% extends "application/email/base.html" %}
{% block title %}Collegiate Rocket Competition Application{% endblock %}
{% block data %}
<h4>Team</h4>
<p>{{data.team.name}}</p>
<h4>Files</h4>
<ul>
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.cv}}" target="_blank">
        CV
    </a><br>
    https://{{server_url}}{{media_url}}{{data.cv}}
  </li>
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
        Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
