{% include "application/email/basestudent.inc.html" %}
<pre style="font-size:1.4em;">
College/University.......... {{data.user.profile.get_registration.wsgc_affiliate}}
Undergraduate degree........ {{data.user.profile.get_registration.undergraduate_degree}}
Degree program.............. {{data.user.profile.get_registration.degree_program}}
Degree program other........ {{data.user.profile.get_registration.degree_program_other}}
Concentration area.......... {{data.user.profile.get_registration.concentration_area}}

Current cumulative GPA...... {{data.user.profile.get_registration.graduate_gpa}}
GPA scale................... {{data.user.profile.get_registration.graduate_scale}}
Graduation year............. {{data.user.profile.get_registration.graduate_graduation_year}}
</pre>
