{% extends "application/email/base.html" %}
{% block title %}High Altitude Balloon Payload Application{% endblock %}
{% block data %}
<h4>Files</h4>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.letter_interest}}">
        Letter of interest
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.letter_interest}}
</p>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.cv}}">
        Résumé
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.cv}}
</p>
{% endblock %}
