{% extends "application/email/base.html" %}
{% block title %}Higher Education Initiatives{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Award type</h4>
<p>{{data.award_type}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed match</h4>
<p>{{data.proposed_match}}</p>
<h4>Authorized match</h4>
<p>{{data.authorized_match}}</p>
<h4>Source(s) of match</h4>
<p>{{data.source_match}}</p>
<h4>Location</h4>
<p>{{data.location}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
<h3>Student Researchers</h3>
<ol>
{% for student in data.higher_education_initiatives_student.all %}
<li>
    {{student.user.last_name}},
    {{student.user.first_name}}
</li>
{% endfor %}
</ol>
<h3>Authorized Organizational Representative</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>
{% endblock data %}
