<pre style="font-size:1.4em;">
High school name............ {{data.user.profile.get_registration.name}}
High school city............ {{data.user.profile.get_registration.city}}
High school state........... {{data.user.profile.get_registration.state}}
College or University ...... {{data.user.profile.get_registration.secondary_education}}
Major....................... {{data.user.profile.get_registration.major}}
Cumulative GPA.............. {{data.user.profile.get_registration.gpa}}
GPA scale................... {{data.user.profile.get_registration.gpa_scale}}
Student ID.................. {{data.user.profile.get_registration.student_identification}}
</pre>
