{% extends "application/email/base.html" %}
{% block title %}Higher Education Initiatives{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Award type</h4>
<p>{{data.award_type}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed match</h4>
<p>{{data.proposed_match}}</p>
<h4>Authorized match</h4>
<p>{{data.authorized_match}}</p>
<h4>Source(s) of match</h4>
<p>{{data.source_match}}</p>
<h4>Location</h4>
<p>{{data.location}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
<h3>Student Researchers</h3>
<ol>
{% if data.student_1 %}
<li>{{data.student_1}}</li>
{% endif %}
{% if data.student_2 %}
<li>{{data.student_2}}</li>
{% endif %}
{% if data.student_3 %}
<li>{{data.student_3}}</li>
{% endif %}
{% if data.student_4 %}
<li>{{data.student_4}}</li>
{% endif %}
{% if data.student_5 %}
<li>{{data.student_5}}</li>
</ol>
<h3>Business/Finance Officer</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>
<h4>Files</h4>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}">
        Proposal
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}
</p>
{% endblock %}
