{% extends "application/email/base.html" %}
{% block title %}Industry Internship{% endblock %}
{% block data %}
<h4>Have you received WSGC funding within the past five years?</h4>
<p>{{data.past_funding|default_if_none:"No"}}</p>
{% if data.past_funding == 'Yes' %}
<h4>If 'Yes', what year?</h4>
<p>{{data.past_funding_year}}</p>
{% endif %}
<h4>Award</h4>
<p>{{data.award_type}}</p>
<h4>The discipline within which the opportunity falls</h4>
<p>{{data.award_type}}</p>
{% if data.discipline_other %}
<h4>Other discipline</h4>
<p>{{data.discipline_other}}</p>
{% endif %}
<h4>Educational Background</h4>
<p>{{data.educational_background}}</p>

<h3>Intern Supervisor</h3>
<h4>Name</h4>
<p>{{data.intern_supervisor_name}}</p>
<h4>Title</h4>
<p>{{data.intern_supervisor_job_title}}</p>

<h3>Work description</h3>
<h4>Objective / technical approach</h4>
<p>{{data.objective_technical_approach}}</p>
<h4>Background</h4>
<p>{{data.background}}</p>

<h3>Work plan</h3>
{% for task in data.work_plan_tasks.all %}
<h4>Task {{forloop.counter}}</h4>
<p>{{task.title}}</p>
<h4>Description</h4>
<p>{{task.description}}</p>
<h4>Percentage of total internship hours</h4>
<p>{{task.hours_percent}}</p>
<h4>Expected outcome</h4>
<p>{{task.expected_outcome}}</p>
{% endfor %}
<h3>WSGC and NASA</h3>
<h4>WSGC goal</h4>
<p>{{data.wsgc_goal}}</p>
<h4>NASA Mission Relationship</h4>
<p>{{data.nasa_mission_relationship}}</p>

<h3>Intern Biography</h3>
<p>{{data.intern_biography}}</p>

<h4>Files</h4>
<hr>
<ul>
  {% if data.background_photo %}
    <li>
      <a href="https://{{server_url}}{{media_url}}{{data.background_photo}}" target="_blank">
        Photo
      </a><br>
      https://{{server_url}}{{media_url}}{{data.background_photo}}
    </li>
  {% endif %}
  {% if data.intern_supervisor_cv %}
    <li>
      <a href="https://{{server_url}}{{media_url}}{{data.intern_supervisor_cv}}" target="_blank">
        CV
      </a><br>
      https://{{server_url}}{{media_url}}{{data.intern_supervisor_cv}}
    </li>
  {% endif %}
  {% if data.task_schedule %}
    <li>
      <a href="https://{{server_url}}{{media_url}}{{data.task_schedule}}" target="_blank">
        Task schedule
      </a><br>
      https://{{server_url}}{{media_url}}{{data.task_schedule}}
    </li>
  {% endif %}
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
      Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  {% if data.budget %}
    <li>
      <a href="{{media_url}}{{data.budget}}" target="_blank">
        Budget
      </a><br>
      https://{{server_url}}{{media_url}}{{data.budget}}
    </li>
  {% else %}
    {% if data.status %}<li>Budget: Missing</li>{% endif %}
  {% endif %}
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice %}
    <li>
      <a href="{{media_url}}{{data.invoice}}" target="_blank">
        Invoice
      </a><br>
      https://{{server_url}}{{media_url}}{{data.invoice}}
    </li>
  {% else %}
    {% if data.status %}<li>Invoice: Missing</li>{% endif %}
  {% endif %}
  {% if data.intended_program_match %}
    <li>
      <a href="{{media_url}}{{data.intended_program_match}}" target="_blank">
        Program Match
      </a><br>
      https://{{server_url}}{{media_url}}{{data.intended_program_match}}
    </li>
  {% else %}
    {% if data.status %}<li>Program Match: Missing</li>{% endif %}
  {% endif %}
  {% if data.payment_information %}
    <li>
      <a href="{{media_url}}{{data.payment_information}}" target="_blank">
        Payment_information
      </a><br>
      https://{{server_url}}{{media_url}}{{data.payment_information}}
    </li>
  {% else %}
    {% if data.status %}<li>Payment Information: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
