{% extends "application/email/base.html" %}
{% block title %}Industry Internship{% endblock %}
{% block data %}
<h4>Award</h4>
<p>{{data.award_type}}</p>
<h4>The discipline within which the opportunity falls</h4>
<p>{{data.award_type}}</p>
{% if data.discipline_other %}
<h4>Other discipline</h4>
<p>{{data.discipline_other}}</p>
{% endif %}
<h4>Educational Background</h4>
<p>{{data.educational_background}}</p>

<h3>Intern Supervisor</h3>
<h4>Name</h4>
<p>{{data.intern_supervisor_name}}</p>
<h4>Title</h4>
<p>{{data.intern_supervisor_job_title}}</p>

<h3>Work description</h3>
<h4>Objective / technical approach</h4>
<p>{{data.objective_technical_approach}}</p>
<h4>Background</h4>
<p>{{data.background}}</p>

<h3>Work plan</h3>
{% for task in data.work_plan_tasks.all %}
<h4>Task {{forloop.counter}}</h4>
<p>{{task.title}}</p>
<h4>Description</h4>
<p>{{task.description}}</p>
<h4>Percentage of total internship hours</h4>
<p>{{task.hours_percent}}</p>
<h4>Expected outcome</h4>
<p>{{task.expected_outcome}}</p>
{% endfor %}
<h3>WSGC and NASA</h3>
<h4>WSGC goal</h4>
<p>{{data.wsgc_goal}}</p>
<h4>NASA Mission Relationship</h4>
<p>{{data.nasa_mission_relationship}}</p>

<h3>Intern Biography</h3>
<p>{{data.intern_biography}}</p>

<h3>Students confirmed</h3>
<ol>
{% for student in data.industry_internship_student.all %}
<li>
    {{student.user.last_name}},
    {{student.user.first_name}}
</li>
{% endfor %}
</ol>
<p>{{data.grant_officer_phone}}</p>
{% if data.grants_officer %}
  <h4>Grants Officer</h4>
  <p>{{data.grants_officer.last_name}}, {{data.grants_officer.first_name}}</p>
{% endif %}
{% endblock %}
