{% extends "application/email/base.html" %}
{% block title %}NASA Competition{% endblock %}
{% block data %}
<h4>Type of NASA competition</h4>
<p>{{data.competition_type}}</p>
{% if data.competition_type_other %}
<h4>Other competition</h4>
<p>{{data.competition_type_other}}</p>
{% endif %}
<h4>Have you received WSGC funding within the past five years?</h4>
<p>{{data.past_funding|default_if_none:"No"}}</p>
{% if data.past_funding == 'Yes' %}
<h4>If 'Yes', what year?</h4>
<p>{{data.past_funding_year}}</p>
{% endif %}
<h4>NASA Center</h4>
<p>{{data.facility_name}}</p>
{% if data.facility_name_other %}
<h4>Other facility</h4>
<p>{{data.facility_name_other}}</p>
{% endif %}
<h4>Has your team applied and been accepted into the program?</h4>
<p>{{data.program_acceptance}}</p>
<h4>Award Type</h4>
<p>{{data.award_type}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed Match</h4>
<p>{{data.proposed_match}}</p>
<h4>Source(s) of the Match</h4>
<p>{{data.source_match}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Mentor name</h4>
<p>{{data.mentor_name}}</p>
<h4>Mentor email</h4>
<p>{{data.mentor_email}}</p>
<h3>Authorized Organizational Representative</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>

<h3>Team Members confirmed</h3>
<ol>
{% for student in data.nasa_competition_student.all %}
<li>
    {{student.user.last_name}},
    {{student.user.first_name}}
</li>
{% endfor %}
</ol>

<h3>Team Members</h3>
<ol>
{% if data.member_1 %}
<li>{{data.member_1}}</li>
{% endif %}
{% if data.member_2 %}
<li>{{data.member_2}}</li>
{% endif %}
{% if data.member_3 %}
<li>{{data.member_3}}</li>
{% endif %}
{% if data.member_4 %}
<li>{{data.member_4}}</li>
{% endif %}
{% if data.member_5 %}
<li>{{data.member_5}}</li>
{% endif %}
{% if data.member_6 %}
<li>{{data.member_6}}</li>
{% endif %}
{% if data.member_7 %}
<li>{{data.member_7}}</li>
{% endif %}
{% if data.member_8 %}
<li>{{data.member_8}}</li>
{% endif %}
{% if data.member_9 %}
<li>{{data.member_9}}</li>
{% endif %}
{% if data.member_10 %}
<li>{{data.member_10}}</li>
{% endif %}
</ol>
<h4>Team Lead</h4>
<p>{{data.team_lead}}</p>
<h4>Files</h4>
<ul>
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.statement}}" target="_blank">
      Statement
    </a><br>
    https://{{server_url}}{{media_url}}{{data.statement}}
  </li>
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.budget}}" target="_blank">
      Budget
    </a><br>
    https://{{server_url}}{{media_url}}{{data.budget}}
  </li>
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
      Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
