{% extends "application/email/base.html" %}
{% block title %}Professional Program Student Participation{% endblock %}
{% block data %}
<h4>Files</h4>
  {% if data.award_acceptance %}
  <ul>
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
        Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  </ul>
  {% else %}
    {% if data.status %}<ul><li>Award Acceptance: Missing</li></ul>{% endif %}
  {% endif %}
    {% with data.user as user %}
      {% include "application/email/user_files.inc.html" %}
    {% endwith %}
<h4>
    Student has been selected to participate in the following program
</h4>
<p>{{data.program}}</p>
<h4>
    Program Application
</h4>
<p>{{data.program_application_link|safe}}</p>
<h4>Mentor</h4>
<p>
    <a href="mailto:{{data.mentor.email}}">
    {{data.mentor.last_name}},
    {{data.mentor.first_name}}
    </a>
</p>
{% endblock %}
