{% extends "application/email/base.html" %}
{% block title %}Research Infrastructure{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Have you received WSGC funding within the past five years?</h4>
<p>{{data.past_funding|default_if_none:"No"}}</p>
{% if data.past_funding == 'Yes' %}
<h4>If 'Yes', what year?</h4>
<p>{{data.past_funding_year}}</p>
{% endif %}
<h4>Award type</h4>
<p>{{data.award_type}}</p>
<h4>Begin date</h4>
<p>{{data.begin_date}}</p>
<h4>End date</h4>
<p>{{data.end_date}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Proposed match</h4>
<p>{{data.proposed_match}}</p>
<h4>Authorized match</h4>
<p>{{data.authorized_match}}</p>
<h4>Source(s) of match</h4>
<p>{{data.source_match}}</p>
<h4>Location</h4>
<p>{{data.location}}</p>
<h4>Synopsis</h4>
<div>{{data.synopsis|safe}}</div>
<h3>Student Researchers</h3>
<ol>
{% for student in data.research_infrastructure_student.all %}
<li>
    {{student.user.last_name}},
    {{student.user.first_name}}
</li>
{% endfor %}
</ol>
<h3>Authorized Organizational Representative</h3>
<h4>Name</h4>
<p>{{data.finance_officer_name}}</p>
<h4>Address</h4>
<p>{{data.finance_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.finance_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.finance_officer_phone}}</p>
<h3>Grant Officer</h3>
<h4>Name</h4>
<p>{{data.grant_officer_name}}</p>
<h4>Address</h4>
<p>{{data.grant_officer_address|striptags}}</p>
<h4>Email</h4>
<p>{{data.grant_officer_email}}</p>
<h4>Phone</h4>
<p>{{data.grant_officer_phone}}</p>
<h4>NASA Mission Directorate</h4>
<p>{{data.nasa_mission_directorate}}</p>
{% if data.nasa_mission_directorate_other %}<h4>NASA Mission Directorate Other
</h4>
<p>{{data.nasa_mission_directorate_other}}</p>{% endif %}
<h4>Files</h4>
<ul>
  <li>
    <a href="{{media_url}}{{data.budget}}" target="_blank">
        Budget
    </a><br>
    https://{{server_url}}{{media_url}}{{data.budget}}
  </li>
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
        Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.proposal}}"
      target="_blank">
        Proposal
    </a><br>
    https://{{server_url}}{{media_url}}{{data.proposal}}
  </li>
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice %}
    <li>
      <a href="{{media_url}}{{data.invoice}}" target="_blank">
        Invoice
      </a><br>
      https://{{server_url}}{{media_url}}{{data.invoice}}
    </li>
  {% else %}
    {% if data.status %}<li>Invoice: Missing</li>{% endif %}
  {% endif %}
  {% if data.intended_program_match %}
    <li>
      <a href="{{media_url}}{{data.intended_program_match}}" target="_blank">
        Program Match
      </a><br>
      https://{{server_url}}{{media_url}}{{data.intended_program_match}}
    </li>
  {% else %}
    {% if data.status %}<li>Program Match: Missing</li>{% endif %}
  {% endif %}
  {% if data.close_out_finance_document %}
    <li>
      <a href="{{media_url}}{{data.close_out_finance_document}}"
        target="_blank">
        Close Out Finance Document
      </a><br>
      https://{{server_url}}{{media_url}}{{data.close_out_finance_document}}
    </li>
  {% else %}
    {% if data.status %}<li>Close Out Finance Document: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
