{% extends "application/email/base.html" %}
{% block title %}Rocket Launch Team (NOI){% endblock %}
{% block data %}
<h4>Team Name</h4>
<p>{{data.name}}</p>
<h4>Academic Institution</h4>
<p>
  {% if data.user.profile.get_registration.wsgc_affiliate.name == 'Other' %}
  {{data.user.profile.get_registration.wsgc_affiliate_other|default:""}}
  {% else %}
  {{data.user.profile.get_registration.wsgc_affiliate.name}}
  {% endif %}
</p>
{% if data.grants_officer %}
  <h4>Grants Officer</h4>
  <p>{{data.grants_officer.last_name}}, {{data.grants_officer.first_name}}</p>
{% endif %}

{% if data.grants_officer2 %}
  <h4>Grants Officer 2</h4>
  <p>{{data.grants_officer2.last_name}}, {{data.grants_officer2.first_name}}</p>
{% endif %}
{% if data.co_advisor1 %}
  <h4>Co-Advisor 1</h4>
  <p>{{data.co_advisor1.last_name}}, {{data.co_advisor1.first_name}}</p>
  {% if data.status %}
    {% with user=data.co_advisor1 lackey='co_advisor1' %}
      {% include "application/email/user_files_rocket_launch_team.inc.html" %}
    {% endwith %}
  {% endif %}
{% endif %}
{% if data.co_advisor2 %}
  <h4>Co-Advisor 2</h4>
  <p>{{data.co_advisor2.last_name}}, {{data.co_advisor2.first_name}}</p>
  {% if data.status %}
    {% with user=data.co_advisor2 lackey='co_advisor2' %}
      {% include "application/email/user_files_rocket_launch_team.inc.html" %}
    {% endwith %}
  {% endif %}
{% endif %}
{% if data.co_advisor3 %}
  <h4>Co-Advisor 3</h4>
  <p>{{data.co_advisor3.last_name}}, {{data.co_advisor3.first_name}}</p>
  {% if data.status %}
    {% with user=data.co_advisor3 lackey='co_advisor3' %}
      {% include "application/email/user_files_rocket_launch_team.inc.html" %}
    {% endwith %}
  {% endif %}
{% endif %}
<h4>Leader</h4>
<p>{{data.leader.last_name}}, {{data.leader.first_name}}</p>
{% if data.status %}
  {% with user=data.leader lackey='leader' %}
    {% include "application/email/user_files_rocket_launch_team.inc.html" %}
  {% endwith %}
{% endif %}
<h4>Industry mentor</h4>
<p>
  {% if data.industry_mentor_email %}
  <a href="mailto:{{data.industry_mentor_email}}">
    {{data.industry_mentor_name}}</a>
  [{{data.industry_mentor_email}}]
  {% else %}
  {{data.industry_mentor_name}}
  {% endif %}
</p>
<h4>Competition</h4>
<p>{{data.competition}}</p>
<h4>Team Roster</h4>
<pre>
{{data.team_roster}}
</pre>
<h4>Preliminary Team Members</h4>
<pre>
{{data.member_1}}
{{data.member_2}}
{{data.member_3}}
{{data.member_4}}
{{data.member_5}}
{{data.member_6}}
{{data.member_7}}
{{data.member_8}}
{{data.member_9}}
{{data.member_10}}
{{data.member_11}}
{{data.member_12}}
{{data.member_13}}
{{data.member_14}}
{{data.member_15}}
</pre>
<h4>Confirmed Team Members</h4>
<p>
    The following students have submitted their application to participate
    on this team:
</p>
<ol>
{% for m in data.get_team_members.all %}
<li>{{m.user.last_name}}, {{m.user.first_name}}</li>
{% endfor %}
</ol>

{% if data.competition != "First Nations AISES" or data.competiton != "First Nations Tribal" or data.competition != "First Nations Mars Challenge" or data.competiton != "First Nations Moon Challenge" %}
  {% if data.proceeding_paper %}
    <h4>Proceeding Paper</h4>
    <p>{{data.proceeding_paper}}</p>
  {% else %}
    {% if data.status %}
    <h4>Proceeding Paper</h4>
    <p>Missing</p>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}
