<ul>
{% if data.award_acceptance %}
  <li>
    <a href="{{media_url}}{{data.award_acceptance}}">
      Advisor's Award Acceptance
    </a>
    <ul> 
      <li>Created: {{data.award_acceptance_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.award_acceptance}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Advisor's Award Acceptance: Missing</li>{% endif %}
{% endif %}
{% for c in data.get_team_members.all %}
  {% if c.user == data.leader %}
    {% if c.award_acceptance %}
    <li>
      <a href="{{media_url}}{{c.award_acceptance}}">
        Team Leader's Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{c.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Team Leader's Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  {% endif %}
{% endfor %}
{% if data.institutional_w9 %}
  <li>
    <a href="{{media_url}}{{data.institutional_w9}}" target="_blank">
      Institutional W9
    </a>
    <ul>
      <li>Created: {{data.institutional_w9_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.institutional_w9}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Institutional W9: Missing</li>{% endif %}
{% endif %}
{% if data.budget %}
  <li>
    <a href="{{media_url}}{{data.budget}}">
      Budget
    </a>
    <ul>
      <li>Created: {{data.budget_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.budget}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status or data.competition == "Midwest High Powered Rocket Competition" or data.team.competition == "Midwest High Powered Rocket Competition" %}
    <li>Budget: Missing</li>
  {% endif %}
{% endif %}
{% if data.flysheet_1 %}
<li>
  <a href="{{media_url}}{{data.flysheet_1}}" target="_blank">
    Flysheet 1
  </a>
  <ul>
    <li>Created: {{data.flysheet_1_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.flysheet_1}}</li>
  </ul>
</li>
{% else %}
  {% if data.status %}<li>Flyseet 1: Missing</li>{% endif %}
{% endif %}
{% if data.openrocketrocksim %}
<li>
  <a href="{{media_url}}{{data.openrocketrocksim}}">
    RockSim Design Review
  </a>
  <ul>
    <li>Created: {{data.openrocketrocksim_timestamp}}</li>
    <li>
      https://{{server_url}}{{media_url}}{{data.openrocketrocksim}}
    </li>
  </ul>
</li>
{% else %}
  {% if data.status %}
    <li>RockSim 1: Missing</li>
  {% endif %}
{% endif %}
{% if data.preliminary_design_report %}
  <li>
    <a href="{{media_url}}{{data.preliminary_design_report}}" target="_blank">
      Preliminary Design Review
    </a>
    <ul>
      <li>Created: {{data.preliminary_design_report_timestamp}}</li>
      <li>
         https://{{server_url}}{{media_url}}{{data.preliminary_design_report}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Preliminary Design Report: Missing</li>{% endif %}
{% endif %}
{% if data.flysheet_2 %}
<li>
  <a href="{{media_url}}{{data.flysheet_2}}" target="_blank">
    Flysheet 2
  </a>
  <ul>
    <li>Created: {{data.flysheet_2_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.flysheet_2}}</li>
  </ul>
</li>
{% else %}
  {% if data.status %}<li>Flyseet 2: Missing</li>{% endif %}
{% endif %}
{% if data.openrocketrocksim2 %}
<li>
  <a href="{{media_url}}{{data.openrocketrocksim2}}">
    RockSim Design Review 2
  </a>
  <ul>
    <li>Created: {{data.openrocketrocksim2_timestamp}}</li>
    <li>
      https://{{server_url}}{{media_url}}{{data.openrocketrocksim2}}
    </li>
  </ul>
</li>
{% else %}
  {% if data.status %}
    <li>RockSim 2: Missing</li>
  {% endif %}
{% endif %}

{% if data.competition == "Collegiate Rocket Competition" or data.team.competition == "Collegiate Rocket Competition" %}
  {% if data.interim_progress_report %}
    <li>
      <a href="{{media_url}}{{data.interim_progress_report}}" target="_blank">
         Critical Design Report
      </a>
      <ul>
        <li>Created: {{data.interim_progress_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.interim_progress_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Interim Progress Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.competition != "Midwest High Powered Rocket Competition" or data.team.competion != "Midwest High Powered Rocket Competition" %}
  {% if data.flight_demo %}
    <li>
      <a href="{{data.flight_demo}}" target="_blank">
        Flight Demo
      </a>
      <ul>
        <li>
          {{data.flight_demo}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Flight Demo: Missing</li>{% endif %}
  {% endif %}
{% endif %}


{% if data.flysheet_3 %}
<li>
  <a href="{{media_url}}{{data.flysheet_3}}" target="_blank">
    Flysheet 3
  </a>
  <ul>
    <li>Created: {{data.flysheet_3_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.flysheet_3}}</li>
  </ul>
</li>
{% else %}
  {% if data.status %}<li>Flyseet 3: Missing</li>{% endif %}
{% endif %}
{% if data.flysheet_4 %}
<li>
  <a href="{{media_url}}{{data.flysheet_4}}" target="_blank">
    Flysheet 4
  </a>
  <ul>
    <li>Created: {{data.flysheet_4_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.flysheet_4}}</li>
  </ul>
</li>
{% else %}
  {% if data.status %}<li>Flyseet 4: Missing</li>{% endif %}
{% endif %}


{% if data.openrocketrocksim3 %}
<li>
  <a href="{{media_url}}{{data.openrocketrocksim3}}">
    RockSim Design Review 3
  </a>
  <ul>
    <li>Created: {{data.openrocketrocksim3_timestamp}}</li>
    <li>
      https://{{server_url}}{{media_url}}{{data.openrocketrocksim3}}
    </li>
  </ul>
</li>
{% else %}
  {% if data.status %}
<li>RockSim 3: Missing</li>
  {% endif %}
{% endif %}
{% if data.openrocketrocksim4 %}
<li>
  <a href="{{media_url}}{{data.openrocketrocksim4}}">
    RockSim Design Review 4
  </a>
  <ul>
    <li>Created: {{data.openrocketrocksim4_timestamp}}</li>
    <li>
      https://{{server_url}}{{media_url}}{{data.openrocketrocksim4}}
    </li>
  </ul>
</li>
{% else %}
  {% if data.status %}
<li>RockSim 4: Missing</li>
  {% endif %}
{% endif %}
<!-- {% if data.patch_contest %}
<li>
  <a href="{{media_url}}{{data.patch_contest}}">
    Patch Contest Submission
  </a>
  <ul>
    <li>Created: {{data.patch_contest_timestamp}}</li>
    <li>
      https://{{server_url}}{{media_url}}{{data.patch_contest}}
    </li>
  </ul>
</li>
{% else %}
  {% if data.status %}
    <li>Patch Contest Submission: Missing</li>
  {% endif %}
{% endif %} -->
{% if data.competition == "Collegiate Rocket Competition" or data.team.competition == "Collegiate Rocket Competition" %}
  {% if data.final_design_report %}
    <li>
      <a href="{{media_url}}{{data.final_design_report}}" target="_blank">
        Final Design Report
      </a>
      <ul>
        <li>Created: {{data.final_design_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.final_design_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Final Design Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}

{% if "First Nations" in data.competition or "First Nations" in data.team.competition %}
  {% if data.proposal %}
  <li>
    <a href="{{media_url}}{{data.proposal}}">
      Proposal
    </a>
    <ul>
      <li>Created: {{data.proposal_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.proposal}}
      </li>
    </ul>
  </li>
  {% else %}
    {% if data.status %}
    <li>Proposal: Missing</li>
    {% endif %}
  {% endif %}
  {% if data.virtual_cdr %}
    <li>
      <a href="{{media_url}}{{data.virtual_cdr}}">
      Virtual CDR
      </a>
      <ul>
        <li>Created: {{data.virtual_cdr_timestamp}}</li>
        <li>
        https://{{server_url}}{{media_url}}{{data.virtual_cdr}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}
    <li>Virtual CDR: Missing</li>
    {% endif %}
  {% endif %}
  {% if data.virtual_pdr %}
    <li>
      <a href="{{media_url}}{{data.virtual_pdr}}">
        Virtual PDR
      </a>
      <ul>
        <li>Created: {{data.virtual_pdr_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.virtual_pdr}}
        </li>
      </ul>
    </li>
  {% else %}
      {% if data.status %}
    <li>Virtual PDR: Missing</li>
      {% endif %}
  {% endif %}
  {% if data.virtual_frr %}
    <li>
      <a href="{{media_url}}{{data.virtual_frr}}">
        Virtual FRR
      </a>
      <ul>
        <li>Created: {{data.virtual_frr_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.virtual_frr}}
        </li>
      </ul>
    </li>
  {% else %}
      {% if data.status %}
    <li>Virtual FRR: Missing</li>
      {% endif %}
  {% endif %}
  {% if data.lodging_list %}
    <li>
      <a href="{{media_url}}{{data.lodging_list}}" target="_blank">
        Lodging List
      </a>
      <ul>
        <li>Created: {{data.lodging_list_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.lodging_list}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Lodging List: Missing</li>{% endif %}
  {% endif %}
  {% if data.critical_design_report %}
    <li>
      <a href="{{media_url}}{{data.critical_design_report}}" target="_blank">
        Critical Design Review
      </a>
      <ul>
        <li>Created: {{data.critical_design_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.critical_design_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Critical Design Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.competition != "Midwest High Powered Rocket Competition" or data.team.competion != "Midwest High Powered Rocket Competition" %}
  {% if data.oral_presentation %}
    <li>
      <a href="{{media_url}}{{data.oral_presentation}}" target="_blank">
        Oral Presentation
      </a>
      <ul>
        <li>Created: {{data.oral_presentation_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.oral_presentation}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Oral Presentation: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.post_flight_performance_report %}
  <li>
    <a href="{{media_url}}{{data.post_flight_performance_report}}" target="_blank">
      Post Launch Assessment Report
    </a>
    <ul>
      <li>Created: {{data.post_flight_performance_report_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.post_flight_performance_report}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Post Launch Assessment Review: Missing</li>{% endif %}
{% endif %}
{% if data.education_outreach %}
  <li>
    <a href="{{media_url}}{{data.education_outreach}}" target="_blank">
      Education Outreach
    </a>
    <ul>
      <li>Created: {{data.education_outreach_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.education_outreach}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Education Outreach: Missing</li>{% endif %}
{% endif %}
{% if data.flight_readiness_report %}
  <li>
    <a href="{{media_url}}{{data.flight_readiness_report}}" target="_blank">
      Flight Readiness Review
    </a>
    <ul>
      <li>Created: {{data.flight_readiness_report_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.flight_readiness_report}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Flight Readiness Report: Missing</li>{% endif %}
{% endif %}
{% if data.competition == "Midwest High Powered Rocket Competition" or data.team.competion == "Midwest High Powered Rocket Competition" %}
  {% if data.verified_budget %}
    <li>
      <a href="{{media_url}}{{data.verified_budget}}" target="_blank">
        Verified Budget
      </a>
      <ul>
        <li>Created: {{data.verified_budget_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.verified_budget}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Verified Budget: Missing</li>{% endif %}
  {% endif %}
  {% if data.close_out_finance_document %}
    <li>
      <a href="{{media_url}}{{data.close_out_finance_document}}"
        target="_blank">
        Close Out Finance Document
      </a>
      <ul>
        <li>Created: {{data.close_out_finance_document_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.close_out_finance_document}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Close Out Finance Document: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice_q1 %}
  <li>
    <a href="{{media_url}}{{data.invoice_q1}}" target="_blank">
      Invoice Q1
    </a>
    <ul>
      <li>Created: {{data.invoice_q1_timestamp}}</li>
      <li>https://{{server_url}}{{media_url}}{{data.invoice_q1}}</li>
    </ul>
  </li>
  {% else %}
    {% if data.status %}<li>Invoice Q1: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice_q2 %}
  <li>
    <a href="{{media_url}}{{data.invoice_q2}}" target="_blank">
      Invoice
    </a>
    <ul>
      <li>Created: {{data.invoice_q2_timestamp}}</li>
      <li>https://{{server_url}}{{media_url}}{{data.invoice_q2}}</li>
    </ul>
  </li>
  {% else %}
    {% if data.status %}<li>Invoice Q2: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice_q3 %}
  <li>
    <a href="{{media_url}}{{data.invoice_q3}}" target="_blank">
      Invoice
    </a>
    <ul>
      <li>Created: {{data.invoice_q3_timestamp}}</li>
      <li>https://{{server_url}}{{media_url}}{{data.invoice_q3}}</li>
    </ul>
  </li>
  {% else %}
    {% if data.status %}<li>Invoice Q3: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice_q4 %}
  <li>
    <a href="{{media_url}}{{data.invoice_q4}}" target="_blank">
      Invoice
    </a>
    <ul>
      <li>Created: {{data.invoice_q4_timestamp}}</li>
      <li>https://{{server_url}}{{media_url}}{{data.invoice_q4}}</li>
    </ul>
  </li>
  {% else %}
    {% if data.status %}<li>Invoice Q4: Missing</li>{% endif %}
  {% endif %}
  {% if data.charges_certification %}
    <li>
      <a href="{{media_url}}{{data.charges_certification}}" target="_blank">
        Charges Certification
      </a>
      <ul>
        <li>Created: {{data.charges_certification_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.charges_certification}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Charges Certification: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.team_biography %}
<li>
  <a href="{{media_url}}{{data.team_biography}}" target="_blank">Team Biography</a>
  <ul>
    <li>Created: {{data.team_biography_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.team_biography}}</li>
  </ul>
</li>
{% else %}
  {% if data.status %}<li>Team Biography: Missing</li>{% endif %}
{% endif %}
{% if data.team_photo %}
<li>
  <a href="{{media_url}}{{data.team_photo}}" target="_blank">Team Photo</a>
  <ul>
    <li>Created: {{data.team_photo_timestamp}}</li>
    <li>https://{{server_url}}{{media_url}}{{data.team_photo}}</li>
  </ul>
</li>-
{% else %}
  {% if data.status %}<li>Team Photo: Missing</li>{% endif %}
{% endif %}
</ul>
