<ul>
{% if data.award_acceptance %}
  <li>
    <a href="{{media_url}}{{data.award_acceptance}}">
      Award Acceptance
    </a><br>
    https://{{server_url}}{{media_url}}{{data.award_acceptance}}
  </li>
{% else %}
  {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
{% endif %}
{% if data.budget %}
  <li>
    <a href="{{media_url}}{{data.budget}}">
      Budget
    </a>
    <ul>
      <li>Created: {{data.budget_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.budget}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status or data.competition == "Midwest High Powered Rocket Competition" %}
    <li>Budget: Missing</li>
  {% endif %}
{% endif %}
{% if data.competition == "Collegiate Rocket Competition" %}
  {% if data.interim_progress_report %}
    <li>
      <a href="{{media_url}}{{data.interim_progress_report}}" target="_blank">
        Interim Progress Report
      </a>
      <ul>
        <li>Created: {{data.interim_progress_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.interim_progress_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Interim Progress Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.preliminary_design_report %}
  <li>
    <a href="{{media_url}}{{data.preliminary_design_report}}" target="_blank">
      Preliminary Design Review
    </a>
    <ul>
      <li>Created: {{data.preliminary_design_report_timestamp}}</li>
      <li>
         https://{{server_url}}{{media_url}}{{data.preliminary_design_report}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Preliminary Design Report: Missing</li>{% endif %}
{% endif %}
{% if data.competition == "Collegiate Rocket Competition" %}
  {% if data.final_design_report %}
    <li>
      <a href="{{media_url}}{{data.final_design_report}}" target="_blank">
        Final Design Report
      </a>
      <ul>
        <li>Created: {{data.final_design_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.final_design_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Final Design Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.competition != "Midwest High Powered Rocket Competition" %}
  {% if data.flight_demo %}
    <li>
      <a href="{{data.flight_demo}}" target="_blank">
        Flight Demo
      </a>
      <ul>
        <li>
          {{data.flight_demo}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Flight Demo: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if "First Nations" in data.competition %}
  {% if data.lodging_list %}
    <li>
      <a href="{{media_url}}{{data.lodging_list}}" target="_blank">
        Lodging List
      </a>
      <ul>
        <li>Created: {{data.lodging_list_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.lodging_list}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Lodging List: Missing</li>{% endif %}
  {% endif %}
  {% if data.critical_design_report %}
    <li>
      <a href="{{media_url}}{{data.critical_design_report}}" target="_blank">
        Critical Design Review
      </a>
      <ul>
        <li>Created: {{data.critical_design_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.critical_design_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Critical Design Report: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.competition != "Midwest High Powered Rocket Competition" %}
  {% if data.oral_presentation %}
    <li>
      <a href="{{media_url}}{{data.oral_presentation}}" target="_blank">
        Oral Presentation
      </a>
      <ul>
        <li>Created: {{data.oral_presentation_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.oral_presentation}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Oral Presentation: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.post_flight_performance_report %}
  <li>
    <a href="{{media_url}}{{data.post_flight_performance_report}}" target="_blank">
      Post Launch Assessment Report
    </a>
    <ul>
      <li>Created: {{data.post_flight_performance_report_timestamp}}</li>
      <li>
        https://{{server_url}}{{media_url}}{{data.post_flight_performance_report}}
      </li>
    </ul>
  </li>
{% else %}
  {% if data.status %}<li>Post Flight Performance Report: Missing</li>{% endif %}
{% endif %}
{% if data.competition != "First Nations AISES" or data.competiton != "First Nations Tribal" %}
  {% if data.education_outreach %}
    <li>
      <a href="{{media_url}}{{data.education_outreach}}" target="_blank">
        Education Outreach
      </a>
      <ul>
        <li>Created: {{data.education_outreach_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.education_outreach}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Education Outreach: Missing</li>{% endif %}
  {% endif %}
{% endif %}
{% if data.competition == "Midwest High Powered Rocket Competition" %}
  {% if data.flight_readiness_report %}
    <li>
      <a href="{{media_url}}{{data.flight_readiness_report}}" target="_blank">
        Flight Readiness Review
      </a>
      <ul>
        <li>Created: {{data.flight_readiness_report_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.flight_readiness_report}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Flight Readiness Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.verified_budget %}
    <li>
      <a href="{{media_url}}{{data.verified_budget}}" target="_blank">
        Verified Budget
      </a>
      <ul>
        <li>Created: {{data.verified_budget_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.verified_budget}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Verified Budget: Missing</li>{% endif %}
  {% endif %}
  {% if data.close_out_finance_document %}
    <li>
      <a href="{{media_url}}{{data.close_out_finance_document}}"
        target="_blank">
        Close Out Finance Document
      </a>
      <ul>
        <li>Created: {{data.close_out_finance_document_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.close_out_finance_document}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Close Out Finance Document: Missing</li>{% endif %}
  {% endif %}
  {% if data.invoice %}
    <li>
      <a href="{{media_url}}{{data.invoice}}" target="_blank">
        Invoice
      </a>
      <ul>
        <li>Created: {{data.invoice_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.invoice}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Invoice: Missing</li>{% endif %}
  {% endif %}
  {% if data.charges_certification %}
    <li>
      <a href="{{media_url}}{{data.charges_certification}}" target="_blank">
        Charges Certification
      </a>
      <ul>
        <li>Created: {{data.charges_certification_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.charges_certification}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Charges Certification: Missing</li>{% endif %}
  {% endif %}
  {% if data.institutional_w9 %}
    <li>
      <a href="{{media_url}}{{data.institutional_w9}}" target="_blank">
        Institutional W9
      </a>
      <ul>
        <li>Created: {{data.institutional_w9_timestamp}}</li>
        <li>
          https://{{server_url}}{{media_url}}{{data.institutional_w9}}
        </li>
      </ul>
    </li>
  {% else %}
    {% if data.status %}<li>Institutional W9: Missing</li>{% endif %}
  {% endif %}
{% endif %}
