{% extends "application/email/base.html" %}
{% block title %}Rocket Launch Team (NOI){% endblock %}
{% block data %}
<h4>Team Name</h4>
<p>{{data.name}}</p>
<h4>Academic Institution</h4>
<p>{{data.academic_institution_name}}
{% if data.academic_institution_other %}&mdash;
{{data.academic_institution_other}}
{% endif %}
</p>
<h4>Leader</h4>
<p>{{data.leader.last_name}}, {{data.leader.first_name}}</p>
{% if data.industry_mentor_name %}
<h4>Industry mentor</h4>
<p>
    {% if data.industry_mentor_email %}
    <a href="mailto:{{data.industry_mentor_email}}">
        {{data.industry_mentor_name}}
    </a> [{{data.industry_mentor_email}}]
    {% else %}
    {{data.industry_mentor_name}}
    {% endif %}
</p>
{% endif %}
<h4>Notification of Intent to Compete</h4>
{{data.intent_compete|safe}}
<h4>Competition<h4>
<p>{{data.competition}}</p>

<h4>Confirmed Team Members</h4>
<p>
    These students have submitted their application to participate
    on this team.
</p>
<ol>
{% for m in data.get_team_members.all %}
<li>{{m.user.last_name}}, {{m.user.first_name}}</li>
{% endfor %}
</ol>

<hr>
<h4>Files</h4>
{% if data.wsgc_acknowledgement %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.wsgc_acknowledgement}}">
        WSGC Acknowledgement
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.wsgc_acknowledgement}}
</p>
{% endif %}
{% if data.budget %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.budget}}">
        Budget
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.budget}}
</p>
{% endif %}
{% endblock %}
