{% extends "application/email/base.html" %}
{% block title %}Undergraduate Research Application{% endblock %}
{% block data %}
<h4>Title of project</h4>
<p>{{data.project_title}}</p>
<h4>Funds requested</h4>
<p>{{data.funds_requested}}</p>
<h4>Time frame that best suits your project</h4>
<p>{{data.time_frame}}</p>
<h4>Synopsis</h4>
<p>{{data.synopsis|safe}}</p>
<h4>Files</h4>
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}">
        Proposal
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.proposal}}
</p>
{% if data.high_school_transcripts %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.high_school_transcripts}}">
        High school transcripts
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.high_school_transcripts}}
</p>
{% endif %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.undergraduate_transcripts}}">
        Undergraduate transcripts
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.undergraduate_transcripts}}
</p>
{% if data.wsgc_advisor_recommendation %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.wsgc_advisor_recommendation}}">
        WSGC Advisor recommendation
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.wsgc_advisor_recommendation}}
</p>
{% endif %}
{% if data.recommendation %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.recommendation}}">
        Recommendation
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.recommendation}}
</p>
{% endif %}
<p>
    <a href="https://spacegrant.carthage.edu/static/djspace/{{data.signed_certification}}">
        Signed certification
    </a><br>
    https://spacegrant.carthage.edu/static/djspace/{{data.signed_certification}}
</p>
{% endblock %}
