{% extends "application/email/base.html" %}
{% block title %}Undergraduate Scholarship{% endblock %}
{% block data %}
<h4>Application submitted for</h4>
<p>{{data.academic_institution}}
<h4>Have you received WSGC funding within the past five years?</h4>
<p>{{data.past_funding|default_if_none:"No"}}</p>
{% if data.past_funding == 'Yes' %}
<h4>If 'Yes', what year?</h4>
<p>{{data.past_funding_year}}</p>
{% endif %}
<h4>Are you seeking other WSGC funding for this project?</h4>
<p>{{data.other_funding}}</p>
<h4>If 'Yes', please explain</h4>
<p>{{data.other_funding_explain}}</p>
<h4>Signed certification</h4>
<p>{{data.signed_certification}}</p>
<h4>Files</h4>
<ul>
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.statement}}" target="_blank">
        Statement
    </a><br>
    https://{{server_url}}{{media_url}}{{data.statement}}
  </li>
  {% if data.high_school_transcripts %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.high_school_transcripts}}" target="_blank">
        High school transcripts
    </a><br>
    https://{{server_url}}{{media_url}}{{data.high_school_transcripts}}
  </li>
  {% endif %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.undergraduate_transcripts}}" target="_blank">
        Undergraduate transcripts
    </a><br>
    https://{{server_url}}{{media_url}}{{data.undergraduate_transcripts}}
  </li>
  {% if data.wsgc_advisor_recommendation %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.wsgc_advisor_recommendation}}" target="_blank">
        WSGC Advisor recommendation
    </a><br>
    https://{{server_url}}{{media_url}}{{data.wsgc_advisor_recommendation}}
  </li>
  {% endif %}
  {% if data.recommendation %}
  <li>
    <a href="https://{{server_url}}{{media_url}}{{data.recommendation}}" target="_blank">
        Recommendation
    </a><br>
    https://{{server_url}}{{media_url}}{{data.recommendation}}
  </li>
  {% endif %}
  {% if data.award_acceptance %}
    <li>
      <a href="{{media_url}}{{data.award_acceptance}}" target="_blank">
      Award Acceptance
      </a><br>
      https://{{server_url}}{{media_url}}{{data.award_acceptance}}
    </li>
  {% else %}
    {% if data.status %}<li>Award Acceptance: Missing</li>{% endif %}
  {% endif %}
  {% if data.interim_report %}
    <li>
      <a href="{{media_url}}{{data.interim_report}}" target="_blank">
        Interim Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.interim_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Interim Report: Missing</li>{% endif %}
  {% endif %}
  {% if data.final_report %}
    <li>
      <a href="{{media_url}}{{data.final_report}}" target="_blank">
        Final Report
      </a><br>
      https://{{server_url}}{{media_url}}{{data.final_report}}
    </li>
  {% else %}
    {% if data.status %}<li>Final Report: Missing</li>{% endif %}
  {% endif %}
</ul>
{% endblock %}
