{% extends "application/email/base.html" %}
{% block title %}Undergraduate Scholarship{% endblock %}
{% block data %}
<h4>Application submitted for</h4>
<p>{{data.academic_institution}}
<h4>Have you received WSGC funding within the past five years?</h4>
<p>{{data.past_funding|default_if_none:"No"}}</p>
{% if data.past_funding == 'Yes' %}
<h4>If 'Yes', what year?</h4>
<p>{{data.past_funding_year}}</p>
{% endif %}
<h4>Are you seeking other WSGC funding for this project?</h4>
<p>{{data.other_funding}}</p>
<h4>If 'Yes', please explain</h4>
<p>{{data.other_funding_explain}}</p>
<h4>Signed certification</h4>
<p>{{data.signed_certification}}</p>
{% endblock %}
