<ul>
    {% if user.user_files.mugshot and mugshot_status %}
      <li>
        <a href="{{media_url}}{{user.user_files.mugshot}}"
          target="_blank">
          Head shot
        </a><br>
        https://{{server_url}}{{media_url}}{{user.user_files.mugshot}}
      </li>
    {% else %}
      <li>Head shot: Missing</li>
    {% endif %}
    {% if user.user_files.biography and biography_status %}
      <li>
        <a href="{{media_url}}{{user.user_files.biography}}"
          target="_blank">
          Biography
        </a><br>
        https://{{server_url}}{{media_url}}{{user.user_files.biography}}
      </li>
    {% else %}
      <li>Biography: Missing</li>
    {% endif %}
    {% if user.user_files.media_release and media_release_status %}
      <li>
        <a href="{{media_url}}{{user.user_files.media_release}}"
          target="_blank">
          Media release
        </a><br>
        https://{{server_url}}{{media_url}}{{user.user_files.media_release}}
      </li>
    {% else %}
      <li>Media release form: Missing</li>
    {% endif %}
    {% if user.user_files.irs_w9 and irs_w9_status %}
      <li>
        <a href="{{media_url}}{{user.user_files.irs_w9}}" target="_blank">
          IRS W9 form
        </a><br>
        https://{{server_url}}{{media_url}}{{user.user_files.irs_w9}}
      </li>
    {% else %}
      <li>IRS W9 form: Missing</li>
    {% endif %}
    {% if user.profile.get_registration.cv %}
    <li>
      <a href="https://{{server_url}}{{media_url}}{{user.profile.get_registration.cv}}">
        CV</a>
      {% if user.profile.get_registration.cv_authorize %}
        <strong>Authorized</strong>
      {% else %}
        <strong>Not Authorized</strong>
      {% endif %}
      <br>
      https://{{server_url}}{{media_url}}{{data.user.profile.get_registration.cv}}
    </li>
    {% endif %}
</ul>
