<ul>
    {% if data.user.user_files.mugshot and data.mugshot_status %}
      <li>
        <a href="https://{{server_url}}{% url 'download_file' 'mugshot' data.content_type data.id data.user.id %}"
          target="_blank">
          Head shot
        </a><br>
        https://{{server_url}}{% url 'download_file' 'mugshot' data.content_type data.id data.user.id %}
      </li>
    {% else %}
      <li>Head shot: Missing</li>
    {% endif %}
    {% if data.user.user_files.biography and data.biography_status %}
      <li>
        <a href="https://{{server_url}}{% url 'download_file' 'biography' data.content_type data.id data.user.id %}"
          target="_blank">
          Biography
        </a><br>
        https://{{server_url}}{% url 'download_file' 'biography' data.content_type data.id data.user.id %}
      </li>
    {% else %}
      <li>Biography: Missing</li>
    {% endif %}
    {% if data.user.user_files.media_release and data.media_release_status %}
      <li>
        <a href="https://{{server_url}}{% url 'download_file' 'media_release' data.content_type data.id data.user.id %}"
          target="_blank">
          Media release
        </a><br>
        https://{{server_url}}{% url 'download_file' 'media_release' data.content_type data.id data.user.id %}
      </li>
    {% else %}
      <li>Media release form: Missing</li>
    {% endif %}
    {% if data.user.user_files.irs_w9 and data.irs_w9_status %}
      <li>
        <a href="https://{{server_url}}{% url 'download_file' 'irs_w9' data.content_type data.id data.user.id %}"
          target="_blank">
          IRS W9 form
        </a><br>
        https://{{server_url}}{% url 'download_file' 'irs_w9' data.content_type data.id data.user.id %}
      </li>
    {% else %}
      <li>IRS W9 form: Missing</li>
    {% endif %}
    {% if data.user.profile.get_registration.cv %}
    <li>
      <a href="https://{{server_url}}{{media_url}}{{data.user.profile.get_registration.cv}}">
        CV</a>
      {% if data.user.profile.get_registration.cv_authorize %}
        <strong>Authorized</strong>
      {% else %}
        <strong>Not Authorized</strong>
      {% endif %}
      <br>
      https://{{server_url}}{{media_url}}{{data.user.profile.get_registration.cv}}
    </li>
    {% endif %}
</ul>
