{% extends "dashboard/home.html" %}
{% block title %}
  WSGC {{app_name}} Application &mdash; Carthage College
{% endblock %}
{% block extra_javascript %}
{% if app_name == "Industry Internship" %}
<script type="text/javascript"
    src="//www.carthage.edu/static/vendor/jquery/plugins/jquery.word-and-character-counter.min.js"></script>
{% else %}
<script type="text/javascript"
    src="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea-0.8.min.js"></script>
{% endif %}
<script src="//www.carthage.edu/static/vendor/jquery/ui/datepicker/js/jquery-ui-1.10.4.custom.min.js"
    type="text/javascript" charset="utf-8"></script>
<script type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://malsup.github.io/min/jquery.blockUI.min.js"
    type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    {% if app_name == "Industry Internship" %}
    $("#id_educational_background").counter({
        count: 'up',
        goal: 500
    });
    $("#id_objective_technical_approach").counter({
        count: 'up',
        goal: 2500
    });
    $("#id_background").counter({
        count: 'up',
        goal: 2500
    });
    $("#id_wsgc_goal").counter({
        count: 'up',
        goal: 500
    });
    $("#id_nasa_mission_relationship").counter({
        count: 'up',
        goal: 1250
    });
    $("#id_intern_biography").counter({
        count: 'up',
        goal: 1250
    });
    $("div[id$='_counter']").css({ fontSize: ".9em", color: "red"});
    {% else %}
    $("textarea").htmlarea({
        toolbar: [
            "html","bold", "italic", "underline", "superscript",
            "subscript", "|", "h1", "h2", "h3", "h4", "h5", "h6",
            "|", "indent", "outdent", "horizontalrule", "link",
            "unlink", "|", "orderedList", "unorderedList"
        ]
    });
    $("[id^=id_][id$=_date]").datepicker({
        firstDay:1,appendText:"(format yyyy-mm-dd)",
        changeFirstDay:false,dateFormat:"yy-mm-dd",
        showOn:"both",
        buttonImage:"//www.carthage.edu/themes/shared/img/ico/calendar.gif",
        buttonImageOnly:true
    });
    {% endif %}
    $("input[id$='clear_id']").css({ float: "right" });
    $("label[for$='clear_id']").css({ float: "right", marginRight:"7px" });
    $('label[for="id_other_funding_0"]').closest('ul').addClass('linline');
    $('label[for="id_program_acceptance_0"]').closest('ul').addClass('linline');
    {% if app_name == "Rocket Launch Team" %}
    /* Rocket Launch Team Leader */
    {% if form.leader.value %}
    document.valueSelectedForAutocomplete = {{form.leader.value}}
    $('#id_leader').val("{{obj.leader.last_name}}, {{obj.leader.first_name}}");
    {% endif %}
    $('#id_leader').autocomplete({
        source: '{% url "get_users" %}',
        minLength: 3,
        select: function (event, ui) {
            var lid = ui.item.id;
            //store in session
            document.valueSelectedForAutocomplete = lid
        }
    });
    /* End Rocket Launch Team Leader */
    {% endif %}
    /* Industry Internship Work Plans */
    {% if app_name == "Industry Internship" %}
    // number of work plan tasks
    var tasks = {{form.instance.work_plan_tasks.all|length|default:1}};
    $(".clone").click(function () {
        if (tasks < 10) {
            tasks++;
            newId = "doop-" + tasks;
            $("#doop-master").clone().attr("id",newId).appendTo("#duplicates");
            $('<h3 class="fleft"><label>Task</label></h3>').prependTo("#" + newId);
            $.growlUI('Work Plan Tasks: ', tasks);
        }else{
            $.growlUI('Warning', 'Task Limit is 10');
        }
    });
    // remove task
    $('#duplicates').on("click", ".destroy-task", function() {
        if (tasks > 1) {
            tasks--;
            $(this).parent().remove();
            $.growlUI('Work Plan Tasks: ', tasks);
        }else{
            $.growlUI('Warning', 'No tasks to delete');
        }
    });
    /* End Industry Internship Work Plans */
    {% endif %}
    {% if app_name == "Nasa Competition" %}
    /* NASA Competition Team Members */
    var members = 0;
    $('input[id^="id_member_"]').each(function(index) {
        dis = $(this);
        container = dis.closest('li');
        if ( dis.val() != "" ) {
            container.slideDown(200);
            members++;
        } else {
            if (index != 0) {
                container.slideUp(200);
            }else{
                members++;
            }
        }
    });
    $(".clone-member").click(function () {
        if (members < 10) {
            members++;
            field = $("#id_member_" + members);
            field.closest('li').slideDown(200);
            $.growlUI('Team Members: ', members);
        }else{
            $.growlUI('Warning', 'Team Member Limit is 10');
        }
    });
    $(".destroy-member").click(function () {
        if (members > 1) {
            field = $("#id_member_" + members);
            field.closest('li').slideUp(200);
            field.val("");
            members--;
            $.growlUI('Team Members: ', members);
        }else{
            $.growlUI('Warning', 'No more team members to delete');
        }
    });
    /* End NASA Competition Team Members */
    {% endif %}
    $('form#profile').submit(function(){
        {% if app_name == "Rocket Launch Team" %}
            // set leader field to selected User's ID
            $('#id_leader').val(document.valueSelectedForAutocomplete);
        {% endif %}
        /* check textarea for just br tag */
        $("textarea").each(function(){
            if (this.value == "<br>") {
                this.value = "";
            }
        });
        // disable submit button after users clicks it
        $(this).children('input[type=submit]').attr('disabled', 'disabled');
    });
});
</script>
{% endblock %}
{% block extra_style %}
{{block.super}}
<link href="//www.carthage.edu/static/vendor/jquery/ui/datepicker/css/smoothness/jquery-ui-1.10.4.custom.min.css"
    rel="stylesheet" type="text/css" />
<link href="//www.carthage.edu/static/vendor/jquery/plugins/jHtmlArea/jHtmlArea.css"
    rel="stylesheet" type="text/css" />
<link href="//www.carthage.edu/static/vendor/jquery/ui/current/jquery-ui.min.css"
    rel="stylesheet" type="text/css" />
<style type="text/css" media="screen, projection">
    .form h3, .h3back {background-color: #efefef; padding: 0 5px; }
    .help {margin:5px 0 9px 9px;}
    label[for=id_synopsis]:after {
        font-family: FontAwesome;
        /*content: "\f069";*/
        content: "*";
        color:#800;
        font-size:1.1em;
        margin-left:5px;
    }
    .clear {font-weight:bold;}
    #doop-master{display:none;}
    .work-plan-task{float:left; border: 2px solid #cacaca;margin:5px;padding:5px;background-color:#efefef;}
    .work-plan-task textarea {width:325px;}
    .ctrlcx { float: right; width: 25px; }
</style>
{% endblock %}
{% block page_header %}
    Program Applications
{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        <span class="large-10 small-12">
        {% if app_name == "Clark Graduate Fellowship" %}
            Dr. Laurel Salton Clark Memorial<br>Research Fellowship
        {% else %}{% if app_name == "Graduate Fellowship" %}
            WSGC Graduate &amp; Professional<br>Research Fellowship
        {% else %}{% if app_name == "Nasa Competition" %}
            NASA Competition
        {% else %}
            {{app_name}}
        {% endif %}{% endif %}{% endif %}
        </span>
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}">
                <i class="fa fa-globe fa-2x"></i>
            </a>
        </small>
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}
{% block content %}
{% include "application/intro_instructions.inc.html" %}
<div class="forms-container clear">
    {% if form %}
    <form class="form" enctype="multipart/form-data" action="."
        id="profile" method="post">
    {% csrf_token %}
    <fieldset class="blockLabels">
        <ol>
            {% for field in form.visible_fields %}
                {% if field.name == "finance_officer_name" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Business/Finance Officer</legend>
                    <h4>
                        The Individual responsible for submitting
                        all required financial forms to WSGC
                    </h4>
                    <ol>
                {% endif %}
                {% if field.name == "grant_officer_name" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Grant Officer</legend>
                    <h4>
                        The Individual responsible for grants
                    </h4>
                    <ol>
                {% endif %}
                {% if field.name == "intern_supervisor_name" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Intern Supervisor</legend>
                    <ol>
                {% endif %}
                {% if field.name == "objective_technical_approach" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Work description</legend>
                    <ol>
                {% endif %}
                {% if app_name == "Industry Internship" and field.name == "task_schedule" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Work plan</legend>
                    <ol>
                        <li class="form-group ctrlHolder">
                        {% include "application/industry_internship_workplan.inc.html" %}
                        </li>
                {% endif %}
                {% if field.name == "wsgc_goal" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>WSGC and NASA</legend>
                    <ol>
                {% endif %}
                {% if app_name == "Nasa Competition" and field.name == "member_1" %}
                    </ol></fieldset>
                    <fieldset class="blockLabels">
                    <legend>Team members</legend>
                    <ol>
                    <li>
                        Add or remove team members with the following icons:
                        <p>
                            <img class="clone-member" style="margin-bottom:-3px;"
                                src="//www.carthage.edu/assets/img/ico/silk/icons/add.png">
                            <img class="destroy-member" style="margin-bottom:-3px;"
                                src="//www.carthage.edu/assets/img/ico/silk/icons/delete.png">
                        </p>
                    </li>
                {% endif %}
                <li class="form-group ctrlHolder">
                    <h3>
                        {{ field.label_tag }}
                    </h3>
                    {% if field.errors %}
                    <div class="required warning clear">
                        <span class="error-message">
                            {{ field.errors|join:", "}}
                        </span>
                    {% else %}
                    <div class="clear{% if field.field.required %} required{% endif %}">
                    {% endif %}
                    {{field}}
                    {% if field.help_text %}
                        <div class="help" id="{{field.name}}_qtip_help">
                            {{field.help_text}}
                        </div>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
    </form>
        {% if app_name == "Industry Internship" %}
        <div id="doop-master-container">
            <div class="work-plan-task" id="doop-master">
                <input type="hidden" name="tid[]" value="">
                <img alt="Remove Task" title="Remove Task" class="destroy-task fright"
                    src="//www.carthage.edu/assets/img/ico/silk/icons/delete.png">
                <ul>
                    <li>
                        <input type="text" name="title[]" maxlength="128" placeholder="Title">
                    </li>
                    <li>
                        <textarea rows="10" name="description[]" cols="40" placeholder="Description"></textarea>
                    </li>
                    <li>
                        <input type="text" name="hours_percent[]" maxlength="128" placeholder="Percentage of total internship hours">
                    </li>
                    <li>
                        <textarea rows="10" name="expected_outcome[]" cols="40" placeholder="Expected outcome"></textarea>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    {% else %}
        <h2>No teams</h2>
        <p class="intro">
        There are no teams yet for this competition. Please ask
        your faculty advisor to create a team so that you can
        join it and submit your application.
        </p>
    {% endif %}
</div>
{% endblock %}
