<p class="intro">
    {% if app_name == "Undergraduate Scholarship" %}
        Before beginning the application, please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/scholarship/additional-requirements/" target="_blank">
        Application Requirements
        </a>.
    {% endif %}
    {% if app_name == "Undergraduate Research" %}
        Before beginning the application, please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/research/additional-requirements/" target="_blank">
        Application Requirements
        </a>.
    {% endif %}
    {% if app_name == "High Altitude Balloon Payload" %}
        Before beginning the application, please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/balloon-research/payload/" target="_blank">
        Application Requirements and Instructions
        </a>.
    {% endif %}
    {% if app_name == "High Altitude Balloon Launch" %}
        Before beginning the application, please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/balloon-research/launch/" target="_blank">
        Application Requirements and Instructions
        </a>.
    {% endif %}
    {% if app_name == "Graduate Fellowship" %}
        Partial graduate fellowship awards to support outstanding graduate
        students pursuing aerospace, space science, or other interdisciplinary
        space-related graduate independent research or design.<br>
        Please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/graduate/wsgc-fellowship/" target="_blank">
        requirements and instructions
        </a>
        for completing the Graduate Fellowship application.
    {% endif %}
    {% if app_name == "Clark Graduate Fellowship" %}
        Partial graduate fellowship awards to support outstanding graduate
        students pursuing aerospace, space science, or other interdisciplinary
        space-related graduate independent research or design.<br>
        Please read the
        <a href="https://spacegrant.carthage.edu/funding-programs/graduate/clark-fellowship/" target="_blank">
        requirements and instructions
        </a>
        for completing the Dr. Laurel Salton Clark Memorial Fellowship application.
    {% endif %}
</p>
