{% load livewhale_api %}
<p class="intro clear">
    {% if app_name == "First Nations Rocket Competition" %}
        {% get_lw_content as media_release blurbs 2155 %}
        {{media_release.body}}
    {% endif %}
    {% if app_name == "Undergraduate Scholarship" or app_name == "STEM Bridge Scholarship" %}
        Before beginning the application, please read the
        <a href="/funding-programs/undergraduate/scholarship/"
            target="_blank">
        Application Requirements</a>.
    {% endif %}
    {% if app_name == "Undergraduate Research" %}
        Before beginning the application, please read the
        <a href="/funding-programs/undergraduate/research/"
            target="_blank">
        Application Requirements</a>.
    {% endif %}
    {% if app_name == "High Altitude Balloon Payload" %}
        Before beginning the application, please read the
        <a href="/funding-programs/undergraduate/balloon-research/payload/"
            target="_blank">
        Application Requirements and Instructions</a>.
    {% endif %}
    {% if app_name == "High Altitude Balloon Launch" %}
        Before beginning the application, please read the
        <a href="/funding-programs/undergraduate/balloon-research/launch/"
            target="_blank">
        Application Requirements and Instructions</a>.
    {% endif %}
    {% if app_name == "Graduate Fellowship" %}
        Partial research fellowship awards to support outstanding graduate
        and professional students pursuing aerospace, space science, or
        other interdisciplinary space-related independent research or design.
        <br>
        Please read the
        <a href="/funding-programs/research/wsgc-fellowship/" target="_blank">
        requirements and instructions</a> before completing the Graduate
        &amp; Professional Research Fellowship application.
    {% endif %}
    {% if app_name == "Clark Graduate Fellowship" %}
        The award is granted annually to a promising Wisconsin student
        enrolled in a graduate or professional degree granting program at a
        <a href="/about/members/">WSGC member institution</a>, pursuing
        studies in the fields of environmental or life sciences,
        whose research has an aerospace component.<br>
        Please read the
        <a href="/funding-programs/research/clark-fellowship/" target="_blank">
        requirements and instructions</a> for completing the
        Dr. Laurel Salton Clark Memorial Research Fellowship application.
    {% endif %}
    {% if app_name == "Industry Internship" %}
        All fields are mandatory but you can submit the form incomplete
        with fields left empty and return later to complete the form.
    {% endif %}
</p>
