{% load livewhale_api %}
<div class="intro clear">
    {% if app_name == "Undergraduate Scholarship" or app_name == "STEM Bridge Scholarship" %}
        {% get_lw_content as scholarhsip blurbs 2831 %}
        {{scholarship.body}}
    {% endif %}
    {% if app_name == "Undergraduate Research" %}
        {% get_lw_content as scholarhsip blurbs 2832 %}
        {{scholarship.body}}
    {% endif %}
    {% if app_name == "Undergraduate Aerospace Design Research Scholarship" %}
        {% get_lw_content as balloon_payload blurbs 2833 %}
        {{balloon_payload.body}}
    {% endif %}
    {% if app_name == "High Altitude Balloon Launch" %}
        {% get_lw_content as balloon_launch blurbs 2834 %}
        {{balloon_launch.body}}
    {% endif %}
    {% if app_name == "Graduate Fellowship" %}
        {% get_lw_content as grad_fellow blurbs 2835 %}
        {{grad_fellow.body}}
    {% endif %}
    {% if app_name == "Clark Graduate Fellowship" %}
        {% get_lw_content as clark_fellow blurbs 2836 %}
        {{clark_fellow.body}}
    {% endif %}
    {% if app_name == "Industry Internship" %}
        {% get_lw_content as industry_internship blurbs 2837 %}
        {{industry_internship.body}}
    {% endif %}
</div>
