{% extends "dashboard/home.html" %}
{% block title %}Grants Application &mdash; WSGC{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Grants Application
        <small class="fright" style="margin-right:20px;">
            <a href="{% url 'dashboard_home' %}"><i class="fa fa-globe fa-2x"></i></a>
        </small>
        <span id="secondary-dropdown"></span>
    </h1>
{% endblock %}

{% block content %}
    <h2>Success</h2>
    <p>
        We have received your grants application. You will receive
        a confirmation email presently.
    </p>
{% endblock %}

